#id_age_link {
	width:200px;
	height:31px;
}
#id_division_link {
	width:200px;
	height:31px;
}
#profile-form .selectbox-disabled{
	width:200px;
	height:31px;
}
#add-topic-taught .selectbox-disabled{
	width:125px;
}
#topic-taught-form .multi-select{
	float:left;
	padding-right:5px;
}
.button-link{
	font-size:1em;
}
#profile-edit-button-row {
	text-align:left;
}
#teacher_topic {
	margin-top: 40px;
	border: 1px solid #F3F3F3;
    padding: 10px;
}
#topics_taught_list {
	width:auto;
	border:none;
}
#topics_taught_list td,th{
	text-align:left;
}
#add-topic-taught{
	padding:10px;
}
.remove-topic-taught-button{
	border:none; 
	background:transparent; 
	cursor: pointer;
}
#basic-info{
	float: left;
    padding-right: 20px;
    width: 50%;
}
