#block {
	width:268px;
}

.htabs{	
	overflow:hidden; 
	color: #006699;
	margin:0;
	padding:0;
	margin-bottom:-2px;
}

.htabs a{
	color:#333;
}

.htabs ul{

	padding: 0;
	margin:0px;

}

.htabs li{
	float:left;
	padding: 10px 15px;
	overflow:hidden;
	border:1px solid #f3f3f3;
	color: #006699;
}

.htabs li:hover,
.htabs li:hover a{
	background:#d2ad6d;
	color:#fff;
}

.htabs li:active{
	font-weight:bold;
	background:#d2ad6d;
}

.htabs li:last-child{
	margin-left:-1px;
}



.tabs .bullet{
	border-right:1px solid #e00;
	margin: 0px 4px 4px 0;
	padding-right:4px;
	clear:right;
	display:block;
	float:left;
	height:17px;
	overflow:hidden;
	text-align:right;
	width:10px;
	visibility:hidden;
}
.bmod .bullet{
	background-color:#fff;
	margin:-9px 6px 0 -10px;
	padding:8px;
	
}

.tabs{
	overflow:hidden;
}

.tabs ul {
	padding:0;
	margin:0;
}
.tabs li{
	display:block;
	margin:1px 0;
	padding:9px 5px;
	font-size: 11px;;
	color: #006699;
	background:#fafafa;
}

.tabs li:first-child {
	border-top:1px solid #f3f3f3;

}

.tabs li:hover {
	color:#fff;
	background:#d2ad6d;
}

.tabs li a{
	color:#333;
	display:block;
}

.tabs li:hover a{
	color:#fff;
}

