* html .group { /* IE6 */
    height: 1%;
    }
	
body{
    margin: 0;
    padding: 0;
    background: #fff;
	color:#424242;
	font-family:Arial, Helvetica, sans-serif;
	line-height:18px;
    }
	
a {
	text-decoration:none;
	color:#2695ce;	
}

h3 {
	font-size:17px;
	color:#000;
}


.col1.list,
.col2.list,
.col3.list {
	padding: 5px 5px;
	background:#fcfcfc;
	width:200px;
}


.list a{
	padding:0 0 5px 0;
	display:block;
}

.hide {
	display:none;

}

#wrapper {
    width: 968px;
    margin: 0px auto;
}

#header-wrapper {
    height:112px;
}


#logo {
	padding:11px 0 0 0;
    float: left;
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
    }

#logo:hover {
    opacity: .6;
}

.fixed {
	width:968px;
	margin:0 auto;
}

#topbar {
	float:right;
	height:29px;
	background:#fcfcfc;
	padding:0 15px;
	width:auto;
	font-size:13px;
	border:1px solid #fafafa;
	line-height:25px;
}

#topbar a{
	color:#afafaf;
	padding:0px 7px;
}

#topbar a:hover{
	color:#000;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
}

#button-container {
	overflow:hidden;

}

.button-left {
	float:left;
	background:#0082c6 url(../img/button_images/button-arrow.png) no-repeat right;
	padding:10px 40px 10px 30px;
	margin-right:20px;
}

.button-right {
	float:left;
	background:#0082c6 url(../img/button_images/button-arrow.png) no-repeat right;
	padding:10px 40px 10px 30px;
}

.button-left ,
.button-right {
	color:#fff;
}


.form_menu {
	padding:0;
	margin:0;
}

/************************************************
 Navigation Menu
***********************************************/

#nav {
	float:right;
	font-size:16px;
	position:relative;
	top:-44px;
	
}
	

#nav ul li {
	float:left;
    }
	
#nav li a {
    color: #797979;
	border-left:1px solid #f3f3f3;
	border-top:1px solid #f3f3f3;
	padding:7px 15px;
	padding-bottom:10px;

}

#nav li:last-child a {
 
	border-right:1px solid #f3f3f3;
}

#nav li a:hover {
	background:#ffcc2a;
	color:#fff;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
}

ol, ul {
    list-style: none;
    outline: 0;
    }
    blockquote, q {
    quotes: none;
    }


	
#grey-wrapper {
	background:#fafafa;
	border-top:1px solid #f3f3f3;
	padding-bottom:23px;
	color:#333;
	text-transform:capitalize;
	font-size:19px;
	padding-top:2px;

}

#grey-wrapper a {
	color:#333;

}


/************************************************
 Bottom of slideshow Columns 
***********************************************/
#home-column-wrapper {
	position:relative;
	margin-bottom:40px;
	overflow:hidden;
}

#col1,
#col2,
#col3{
	float:left;
	width:224px;
	margin-right:24px;
	position:relative;
}

#col4 {
	float:right;
	width:224px;
	position:relative;
}

.description {
	background:#ffcc2a no-repeat center;
	opacity:0.8; /* Overridden by captionOpacity setting */
	padding:10px 10px;
	position:absolute;
	bottom:0;
	right:0;
	left:0;	
}

.description a{
	color:#000;
	font-size:15px;
	text-decoration:none;

}

.description a:hover{
	color:#fff000;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;

}

#home_left_container {
	width:640px;
	float:left;
}

#home_left_container ul{
	padding:0;
	margin:0;
}

#home_left_container li {
	background:#fafafa;
	overflow:hidden;
	padding:0 10px 15px 10px;
	margin:0 0 20px 0;
}

#home_left_container img {
	float:left;
	padding:2px;
	border:#ddd 1px solid;
	margin:0 15px 0px 0;
	
}





#home-right-col {
	overflow:hidden;
	background:#fafafa;
	padding:10px;
	margin-bottom:15px;
}

#home-right-col img {
	float:left;
	padding:2px;
	border:#ddd 1px solid;
	margin:0 7px 7px 0;
}

.header-blue{
	padding:5px;
	background:#001c53;
	color:#fff;
	margin-bottom:10px;
}

.header-orange{
	padding:5px;
	background:#fd9b17;
	color:#fff;
	margin-bottom:10px;
}

#home-content {
	overflow:hidden;
	width:100%;	
}





/************************************************
 Moderators 
***********************************************/

#teachers_container {
	width:15%;
	color:#333;
	font-size:14px;
	text-transform:capitalize;
	margin:0 auto;
	height:300px;
	overflow:hidden;
}



.col1,
.col2 {
	width:300px;
	float:left;
	border:1px solid #f3f3f3;
	margin:0 31px 30px 0;

}


.col3 {
	width:300px;
	float:right;
	border:1px solid #f3f3f3;
}

.col1:hover,
.col2:hover,
.col3:hover{
	border:1px solid #f3f3f3;
	color:fff;
	
}

#topic-header {

	padding:10px 0;
	width:100%;
}

.topic-name {
	font-size:19px;
	padding:20px 0;
	float:left;
	width:60%;
	text-transform:capitalize;
}


.ne_ui_fields {
	margin-bottom:30px;
	overflow:hidden;
	width:96.7%;
	padding:15px;
	border:1px solid #f3f3f3;
	text-transform:capitalize;
	text-shadow:1px 1px 1px #fff;
}

.top-filter {
	background:#fafafa;
    float:left;
    padding:20px;
    width:100%;
    border-bottom:1px solid #eee;
    margin:-15px -15px 15px -15px;
    
}

.top-filter-2 {
	border-bottom:none;
	padding:20px 0 0 0;
}

.subject-filter {
	width:100%;
	background:#fafafa;
	padding:20px;
	float:left;
	margin:-15px;


	
}
.top-filter input,
.subject-filter input,
#id_age_group {
	background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#fff)); 
	background: -moz-linear-gradient(top, #f9f9f9, #fff);
	border:1px solid #ddd;
	padding:3px;
	margin:0 20px 0 10px;
	
}



.header-title {
	width:60%;
	float:left;
	font-size:16px;
	padding:15px 0 15px 15px;
}

#footer-container {
	border-top:1px solid #f3f3f3;

}

.footer-icons {
	padding:10px 15px 0 10px;
	float:left;
	clear:both;

}
	
.ne_ui_content_add_button{
	float:right;
	padding-top:5px;
}

.topic-edit {
	background:#7b7b7b url(../img/button_images/button-arrow.png) no-repeat right;
	float:right;
	padding:10px 40px 10px 30px;
	margin-left:5px;
	
}

.topic-add {
	background:#0082c6 url(../img/button_images/button-arrow.png) no-repeat right;
	float:left;
	padding:10px 40px 10px 0px;
}

.topic-add a,
.topic-edit a {
	color:#fff;
	text-transform:capitalize;

}

.topic-add a {
	margin-left:30px;
}

.ne_ui_desc {
	margin:15px;
}


.agegroup {
	background:#fff;
	padding-bottom:10px;
}

.ne_more {
	float:right;
	border-left:1px solid #f3f3f3;
	padding:10px 20px;
	background:#fafafa;

}

.ne_more a{
	color:#333;
	display:block;

}

.ne_ui_content_item_data {
		overflow:hidden;
}

#subject-header-container {
	margin-bottom:10px;
	overflow:hidden;
	border-bottom:1px solid #f3f3f3;
	padding-bottom:20px;
}

.subject_ne_ui_content_item {
		border-bottom:1px solid #f3f3f3;
		overflow:hidden;
}

.subject_ne_ui_content_item_data {		

}


.subject-list {
	padding:15px 0;
	float:left;
}

.subject_ne_ui_button img{
	padding:15px 0;
	float:right;

}

.ne_ui_button {
	border-bottom:1px solid #f3f3f3;
	overflow:hidden;
	display:block;
	cursor:pointer;
	background:#fafafa;
}

#ne_ui_subcontent_list {
	clear:both;
}


.ne_ui_button img {
	float:right;
	padding: 0 5px;

}

.ne_ui_button a {
	color:#146995;


}





/*
#teachers_container a {
	border:1px solid #f3f3f3;
	background:#fff;
	line-height:40px;
	display:block;
	padding:10px;
	text-decoration:none;
}*/

#teachers_container a:hover {
	background:#fafafa;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
}



/************************************************
 Moderate Topics 
***********************************************/

.mod-index {

}

/* In this selector we specify  the width, height, borders, position, background color, color and shadow's dimensions */
#create_topic_container {
	overflow:hidden;
	width:700px;
	margin:0 auto;


}

#create_topic_container ul {
	background:#fafafa;
	padding:0;
	margin:0;
	border:1px solid #f3f3f3;
	border-radius:3px;
	padding:20px;
	margin-bottom:10px;

}
 

#create_topic_container li {
	padding:10px 10px;
	border-bottom:1px dashed #f3f3f3;

	margin:1px 0;
	-webkit-transition: color .1s ease-in, background-color .1s ease-in;
   -moz-transition: color .1s ease-in, background-color .1s ease-in;
   -o-transition: color .1s ease-in, background-color .1s ease-in;
   transition: color .1s ease-in, background-color .1s ease-in;
	
	
}

#create_topic_container li:first-child {

	

}

#create_topic_container li:last-child {
	border-bottom:none;

}


	

#create_topic_container li label {
display:inline-block;
width:150px;
	
}



#create_topic_container li input {
	width:250px;
	background: #fff; 
	background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#fff)); 
	background: -moz-linear-gradient(top, #f9f9f9, #fff);
	border:1px solid #ddd;
	padding:3px;
	color:#666;
	
}


#create_topic_container li textarea {
	visibility:hidden;
	
}

#create_topic_container li select {
	width:255px;
	border:1px solid #ddd;
	background: #fff; 
	background: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#fff)); 
	background: -moz-linear-gradient(top, #f6f6f6, #fff);
	-moz-box-shadow:1px 1px 1px #fff;
	-webkit-box-shadow:1px 1px 1px #fff;
	-box-shadow:1px 1px 1px #fff;
	
}

/* Erroe List 
***********************************************/
.errorlist {
	color:#F00;
	font-size:11px;
}


/* Table (sucks)
***********************************************/
table {
	border:1px solid #f3f3f3;
	width:100%;
}
	

table tr {
	padding:10px 10px;
	border:1px solid #ddd;
	background:#fafafa;
	text-shadow:1px 1px 1px #fff;
}

table td {
	padding:10px 10px;
	text-align:center;
}

table th {
	padding:10px 10px;
}

/* Add Exercise
***********************************************/

#add-exercise {

	width:200px;
	margin:10px 0 30px 0;



}

#add-image{
	float:right;
    width:90px;
    text-shadow:1px 1px 1px #044a51;
    font-weight:bold;
    margin:10px 0 30px 0;
}

#add-image a {
    background:#0082C6;
	padding:10px;
	color:#fff;
}
#add-exercise a{
	background:#0082C6;
	padding:10px;
	color:#fff;
}

#add-exercise a:hover {
	background:#49b1bb;
	border:1px solid #49b1bb;
	
}


.questions-for-this-exercise {
	padding:10px 0;
}


/* This is the selector of the seventh box, here's where we establish the measures, background colors, borders and shadows */


#formset_cnt,
#pdf_formset_cnt,
#video_formset_cnt {
	
}
#formset_cnt ul,
#pdf_formset_cnt ul,
#video_formset_cnt ul {
	margin:30px 0;
	margin-top:-1px;
	border:1px solid #f3f3f3;

	
}

#formset_cnt ul:hover,
#pdf_formset_cnt ul:hover,
#video_formset_cnt ul:hover {


	
	
}

#formset_cnt  li,
#pdf_formset_cnt li,
#video_formset_cnt li {
	padding:5px 10px;
	border-bottom:1px solid #f3f3f3;
	margin:1px 0;
	-webkit-transition: color .1s ease-in, background-color .1s ease-in;
   -moz-transition: color .1s ease-in, background-color .1s ease-in;
   -o-transition: color .1s ease-in, background-color .1s ease-in;
   transition: color .1s ease-in, background-color .1s ease-in;
	
}

#formset_cnt  li:last-child,
#pdf_formset_cnt li:last-child,
#video_formset_cnt li:last-child {
	border-bottom:none;
	padding:10px 10px;
	
	
}

#formset_cnt  li:hover,
#pdf_formset_cnt li:hover,
#video_formset_cnt li:hover {
	
	background:#f6f6f6;
	
}
	
	

#formset_cnt  li label,
#pdf_formset_cnt li label,
#video_formset_cnt li label {
margin-right:100px;
display:inline-block;
width:200px;
	
}



#formset_cnt  li input,
#pdf_formset_cnt li input,
#video_formset_cnt li input {
	width:250px;
	background: #fff; 
	background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#fff)); 
	background: -moz-linear-gradient(top, #f9f9f9, #fff);
	border:1px solid #ddd;
	-moz-box-shadow:1px 1px 1px #fff;
	-webkit-box-shadow:1px 1px 1px #fff;
	-box-shadow:1px 1px 1px #fff;
	padding:3px;
	color:#666;
	
}

#pdf_formset_cnt li:nth-child(1) input{
	margin-left: 253px;
}

#formset_cnt li select,
##pdf_formset_cnt li select,
#video_formset_cnt li select {
	width:255px;
	border:1px solid #ddd;
	background: #fff; 
	background: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#fff)); 
	background: -moz-linear-gradient(top, #f6f6f6, #fff);
	-moz-box-shadow:1px 1px 1px #fff;
	-webkit-box-shadow:1px 1px 1px #fff;
	-box-shadow:1px 1px 1px #fff;
	
}



/************************************************
 Course Video
***********************************************/


#video_container {
	width:100%;
	overflow:hidden;
}

#left_container {
	width:640px;
	float:left;
}

#video {
	overflow:hidden;
	background:#333;
	color:#fff;
	text-align:center;
	text-transform:capitalize;	
	width:640px;
	height:363px;

}

#functions {
	background:#fafafa;
	margin-bottom:15px;
	padding:5px 0;
}

#functions img {
	padding-left:30px;

}

#description_container {
	background:#fafafa;
	margin-top:15px;
	padding:25px;
	text-transform:capitalize;

}

#topic_title {
	font-size:20px;
	color:#333;
}

#right_container {
	float:right;
	width:315px;
	overflow:hidden;
	margin-bottom:40px;
}

#badge_container {
	height:300px;
	background:#fafafa;
	padding:10px;
	margin-bottom:15px;
}

.badge-title {
	padding:5px;
	background:#001c53;
	color:#fff;
}

#exercise_container {
	overflow:hidden;
	background:#fafafa;
	padding:10px;
	margin-bottom:15px;

}

.exercises-title {
	padding:5px;
	background:#a8cf45;
	color:#fff;
}

#exercise_container ul{
	padding:0;
	margin:0;
}

#exercise_container li{
	color:#92b734;
	padding:10px 5px;
	border-bottom:1px solid #f3f3f3;
}

#exercise_container li:last-child {

}

#exercise_container li a{
	color:#92b734;

}

#exercise_container img{
	float:right;
}

#textbook_container {
	height:300px;
	background:#fafafa;
	padding:10px;
	margin-bottom:15px;
}

.textbook-title {
	padding:5px;
	background:#0079b9;
	color:#fff;
}

#gallery ul {
	padding:0;
	margin:0;
}

#middle_container {
	width:500px;
	margin:0 auto;
}

/************************************************
 Course Form
***********************************************/

.course_form ul {
	padding:0;
	margin:0;
}

.course_form li {
	background:#fafafa;
	margin-bottom:20px;
	padding:10px;
}

.course_node {
	font-size:25px;
	color:#ddd;
	font-weight:bold;
	line-height:25px;
	cursor:pointer;
}


/************************************************
 Topic
***********************************************/
.grey-box {
	margin-bottom:10px;
	overflow:hidden;
	background:#fafafa;
		

}


.qtitle{
	padding:10px;
	color:#cbcbcb;
	font-size:18px;
	float:left;
	width:100px;
	overflow:hidden;
	background:#fafafa;
	text-align:center;

}

.qtext{
	background:#fafafa;
	padding:10px;
	border-left:2px solid #fff;
	overflow:hidden;
	text-transform:capitalize;
}


.ask {
	background:#fafafa;
	padding:30px;
	text-align:center;
	overflow:hidden;
	text-shadow:1px 1px 1px #fff;
	border:1px solid #f3f3f3;
}

.both-button {
	width:475px;
	margin:0 auto;
	padding:30px 0;
	text-shadow:none;
}

.button-next {
	background:#0082c6 url(../img/button_images/button-arrow.png) no-repeat right;
	float:right;
	padding:10px 40px 10px 30px;
	margin-left:5px;
	display:block;
	width: 86px;
}

.button-back {
	background:#7b7b7b url(../img/button_images/button-arrow-back.png) no-repeat left;
	float:left;
	padding:10px 30px 10px 40px;
	display:block;
	width: 75px;
}

.button-middle {
	background:#7b7b7b no-repeat left;
	float:left;
	padding:10px 30px 10px 40px;
	display:block;
	margin-left: 5px;
}


.button-back a,
.button-next a,
.button-middle a {
	color:#fff;
	text-transform:capitalize;
}


#practice_form {
	padding:0;
	margin:0;
	overflow:hidden;
	margin-top:20px;
}

#practice_form ul {
	padding:0;
	margin:0;
}

#practice_form ul li {
	padding:20px 10px 20px 0;
	border-bottom:1px solid #f3f3f3;
	overflow:hidden;
}


#practice-buttons {
	margin-top:20px;
	text-transform:capitalize;
}

.total-hint {
	float:right;
	margin-top:10px;
}

.total-hint a {
	padding:5px 5px 0 10px;
}

.practice_submit {
	background:#0082c6;
	border:none;
	color:#fff;
	text-align:center;
	padding:10px 40px;
	text-transform:capitalize;
	cursor:pointer;
}

.practice_next {
	background:#7b7b7b url(../img/button_images/button-arrow.png) no-repeat right;
	padding:10px 50px 10px 40px;
	margin-left:5px;
	border:none;
	text-transform:capitalize;
	color:#fff;
	cursor:pointer;
	
}





#practice_form li img{
	width:150px;
	float:left;
	border:1px solid #f3f3f3;
	margin-right:10px;
	background:#fafafa;
	padding:5px;
}

.answer_label {
	overflow:hidden;
	font-size:18px;
	background:#fafafa;
	color:#cbcbcb;
	font-size:18px;
	padding:10px;
}

.answer_label span {
	border-right:2px solid #fff;
}




/* main  */
#main{
    width: 968px;  
    margin: 0 auto;
    font-size:12px;
	margin-top:40px;
	margin-bottom:40px;
	overflow:hidden;
	
}


.clear
{
    clear: both;
}

#ccontent{
    float:left;
    width:700px;

}

#sidebar{
    float:right;
	width:268px;
}

#box{
    float:left;
    margin:0 15px 15px 0;
	background:#ddd;
    width:215px;
	position:relative;
}

#box-aa{
    
    float:left;
    margin:12px 8px 4px 2px;
    border:1px solid #777;
    width:170px;
    height: 170px;
}


/*************
 * Thumb Page
 */

#set-thumb {
	margin:0 auto;
	display:block;
	background:#fafafa;
	width:100%;
	overflow:hidden;
	margin-bottom:40px;
	padding:10px;
}

.thumb-video {
	float:left;
	border:1px solid #ddd;
    padding:3px;
    overflow:hidden;    
}

.thumb-img {


}
.thumb-img ul {
	padding:0;
	margin:0;
	
}

.thumb-img li {
    float:left;
	margin-bttom:20px;
	list-style:none;
  
}

.thumb-img li img{

    border:1px solid #ddd;
    padding:3px;
    overflow:hidden;
	cursor:pointer;

    
}
	
.student_page_wrap{
	float:left;
    width:900px;
    margin-left:10px;
    margin-bottom:9px;
	margin-top:24px;
	
	
}	

.student_page_title{
	padding: 8px 18px;
    margin-left: 8px;
    color: #006699;
    font-family: tahoma;
    font-size: 11px;
    font-weight: bold;
    border-bottom:3px solid #0080FF; 
}
.content_of{
	text-align:justify;
	padding: 15px 0 0 8px;
	
}
.stu_page_video_body{
	font-family:tahoma;
    font-size:11px;
    line-height:15px;
    color:#333333;
    text-align:justify;
	border:1px solid #000;
	
	
}

#box-aa-img{
	
	float:left;
    margin:12px 8px 4px 2px;
    width:170px;
    height: 170px;
	background-color:#F2F2F2;
}
#content_of_student{
	float:left;
	margin:6px 0 14px 19px;
	
}
#about_video{
	float:left;
	margin: 16px 9px 16px 8px;
	margin-left: 190px;
	position:relative;
	
}


#sponsors {
	width:100%;
    overflow:hidden;
	background:#fafafa;
	margin: 0 0 20px 0;
}

#sponsors a 
{
    display: block;
    margin-right: 24px;
    float: left;
    height: 70px;
    background-repeat: no-repeat;
    background-position: 0px -60px;
    cursor: pointer;
}
#sponsors a:hover
{
    background-position: 0px top;
}

<!-- start challenge -->

.challenge_page_wrap{
	float:left;
    width:900px;
    margin-left:10px;
    margin-bottom:9px;
	margin-top:24px;
	
	
}	

.challenge_page_title{
	padding: 8px 18px;
    margin-left: 8px;
    color: #006699;
    font-family: tahoma;
    font-size: 11px;
    font-weight: bold;
    border-bottom:3px solid #0080FF; 
}
.content_of{
	text-align:justify;
	padding: 15px 0 0 8px;
	
}
.challenge_page_video_body{
	font-family:tahoma;
    font-size:11px;
    line-height:15px;
    color:#333333;
    text-align:justify;
	border:1px solid #000;
	
	
}

#box-challenge-img{
	float:left;
    margin:4px 4px 4px 2px;
    border:1px solid #777;
    width:170px;
    height: 100px;
	background-color:#F2F2F2;
}
#content_of_challenge{
	float:left;
	margin:6px 0 14px 19px;
	
}

.clear { /* generic container (i.e. div) for floating buttons */
    overflow: hidden;
    width: 100%;
}

a.button-register {
    /*background: transparent url('/media/img/new.gif') no-repeat scroll top right;*/
	
    /*color: #444;*/
    display: block;
    float: left;
    font: normal 12px arial, sans-serif;
    height: 24px;
	margin:40px 40px 40px 250px;
    padding-right: 1px; /* sliding doors padding */
    text-decoration: none;
}

a.button-register span {
    background: transparent url('/media/img/bg_button_span.gif') no-repeat;
    display: block;
    line-height: 14px;
    padding: 5px 0 5px 18px;           
} 

a.button-register:active {
    background-position: bottom right;
    /*color: #000;*/
    outline: none; /* hide dotted outline in Firefox */
}

a.button-register:active span {
    background-position: bottom left;
    padding: 6px 0 4px 18px; /* push text down 1px */
} 

a.button-share {
    /*background: transparent url('/media/img/new.gif') no-repeat scroll top right;*/
	
    /*color: #444;*/
    display: block;
    float: left;
    font: normal 12px arial, sans-serif;
    height: 24px;
	margin:40px 40px 40px 250px;
    padding-right: 1px; /* sliding doors padding */
    text-decoration: none;
}

a.button-share span {
    background: transparent url('/media/img/bg_button_span.gif') no-repeat;
    display: block;
    line-height: 14px;
    padding: 5px 0 5px 18px;           
} 

a.button-share:active {
    background-position: bottom right;
    /*color: #000;*/
    outline: none; /* hide dotted outline in Firefox */
}

a.button-share:active span {
    background-position: bottom left;
    padding: 6px 0 4px 18px; /* push text down 1px */
} 


<!-- start footer -->
#footer{
margin-top: 40px;
width: 930px;
margin-bottom: 15px;
height:140px;
}
#footer .footpanel{
background: #f1f1f1;
color:#525252;
}
#footer .footpanelbottom{
width: 930px;
height: 10px;
}
#footer .footpanel .col ul{
    margin:0;
    padding:0;
    display:block;
    color:#525252;
}
#footer .footpanel .col ul li{
    list-style-type:none;
    margin-top: 15px;
    
}
#footer .footpanel .col ul li a{
    text-decoration: none;
    color:#525252;
}
#footer .footpanel .col ul li a:hover{
    text-decoration: none;
    color:#000;
}
#footer .footpanel .col h3{
    color:#525252;
    font-size: 13px;
}
#footer .footpanel .col h3 a{
    color:#525252;
    font-size: 13px;
    text-decoration: none;
}
#footer .footpanel .col h3 a:hover{
    color:#000;
}
#footer .footer-col1{
    width: 295px;
    float:left;
    margin-left: 25px;
    margin-right: 15px;
    
}
#footer .footer-col2{
    width: 275px;
    float:left;
    margin-right: 25px;
    }
#footer .footer-col3{
    width: 295px;
    float:left;
}
#footer .note{
    margin-top: 10px;
    color:#999;
    text-align: left;
    padding-left: 22px;
}
.left
{
    float: left;
}

.right
{
    float: right;
}

.separator
{
    width: 100%;
    border-bottom: 1px solid #ddd;
    padding: 5px;
}

#locale {
	float: left;
	border:none;
}

.langform  {
	border:none;
}

select{ 
	-webkit-appearance: none;
	border:none;
}

select {
	border:none;
}
option {
	border:none;
	width:26px;
}

#en-select,
#mn-select,
#ru-select {
	padding:0;
	margin:0;
	width:20px;
	height:18px;
	border:none;
}




/* Login */

#login-container {
	background:#f3f3f3;
	padding:30px;
	margin: 0 auto;
        width: 370px;
	border:3px solid #f3f3f3;
}

#login-container .forget {
	font-size:11px;
	margin-top:20px;
}

#login-container label {
	margin-right:10px;
	display:inline-block;
	width:70px;
}

#login-container input {
	border:3px solid #f3f3f3;
	padding:10px;
	width:260px;
}




#login-container .submit {
	background:#0082C6;
        color: #FFFFFF;
        cursor: pointer;
        padding: 10px;
        text-align: center;
        text-transform: capitalize;
	float:right;
	width:100px;
	margin:10px 2px 0 0;
}

#before-login {
	width:350px;
	margin:0 auto;
	padding:30px;

}

#before-login label {
	display:block;
	margin-bottom:10px;

}

#before-login input {
	width:325px;
	border:1px solid #ddd;
	padding:10px;
	border-radius:3px;

}

.login-button {
	background:#2695ce;
	color:#fff;
}


#footer-text {
	font-size:12px;
	color:#424242;
}

#footer-text .right {
	margin-top:40px;
	text-align:right;
}

#footer-text ul {
	padding:0;
	margin:0;
	float:left;
	margin:0 100px 40px 0;
}

.hidden {
	display:none;
}
