/* General CSS --------------------------------------------------------

	*Filename:        	style.css
	*Description:     	Main css
	*Version:         	1.0.0 (2011-05-17) YYYY-MM-DD
	*Creator:         	The New Media Marketing Agency
	
	
	== Structure ======================================================
	
	*Page width:		999px;
	*Column:  			2 (2)
	
----------------------------------------------------------------------*/



body,td,th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #58595b;
}
body {
	margin: 0px;
}
a:link, a:visited, a:active {
	color: #000;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	color: #d43e30;
}

a:visited {
	text-decoration: none;
	color: #000;
}

.active_filter_letter
{
	text-decoration: underline;
}

.active_category
{
	text-decoration: underline;
}

p {
	margin: 0 0 1em 0;
}

div p:last-child {
	margin: 0;
}

.clear {
	clear: both;
}

.right {
	float: right;
}

.left {
	float: left;
}
.small {
	font-size: 11px;
}
.smaller {
	font-size: 10px;
}
.big {
	font-size: 14px;
}
.lineheight3 {
	line-height: 1.3em;
}
.lineheight5 {
	line-height: 1.5em;
}
.lineheight7 {
	line-height: 1.7em;
}
.uppercase {
	text-transform: uppercase;
}
.silver {
	color: #999;
}

h1 {
	font-size: 16px;
	color: #231f20;
	padding: 0px;
	margin: 0 0 20px 0;
	font-weight: normal;
	/* border-bottom: 1px solid #ddd; */
	text-transform: uppercase;
}

h2 {
	font-size: 16px;
	color: #231f20;
	padding: 0px;
	margin: 0 0 20px 0;
	font-weight: normal;

}

.grey {
	background:url(/media/img/addons/block-header-grey-bg.jpg) repeat-x;
	text-shadow: 1px 0px 0px #939598;
	border: 1px solid #a7a9ac;
}


.red {
	background:url(/media/img/addons/block-header-red-bg.jpg) repeat-x;
	text-shadow: 1px 0px 0px #be3737;
	border: 1px solid #d43e30;
}



/* Kanlig Dashboard.
----------------------------------------------------------------------*/
 

#wrapper {
	width:999px;
	margin:0 auto;
}




/*  Header Container
----------------------------------------------------------------------*/

#header-container {
	height:110px;
	max-height:110px;
	border-bottom:1px solid #000;
}

#logo {
	margin:15px 0 0 0;

}


#top-toolbar {
	color: #fff;
	font-size: 11px;
	height:23px;
	line-height:23px;
	
	
}


#geeting {
	background:#7e5f42 url(/media/img/addons/left-edge-red.jpg)  no-repeat left;
	padding: 0 10px;

}


.red-to-black-edge {
	background:url(/media/img/addons/red-to-black-edge.jpg) no-repeat right;
	float:left;
	height:23px;
	width:8px;
		
}


#top-menu {
	height:23px;
	background: #313131 url(/media/img/addons/right-black-edge.jpg) no-repeat right;

}


#top-menu ul {
	margin:0;
	padding:0 15px;
}

#top-menu li {
	display:inline;
	margin:0 15px 0 0;
}


#top-menu 
a:link, 
a:visited,
a:active {
	color: #fff;
	text-decoration: none;
	-webkit-transition: color 0.25s ease-out;
}

#right-column 
a:link, 
a:visited,
a:active {
	color: #dc6257;
	text-decoration: none;
	-webkit-transition: color 0.25s ease-out;
}



#top-menu a:hover {
	text-decoration: none;
	color: #e9a29c;
}



/*  Main Menu
------------------------------------------------*/

#mainmenu {
	margin-top: 49px;
	position:relative;
	clear: right;
	text-transform: uppercase;
	font-weight: bold;
	right:-10px;
}

#mainmenu a:link, 
#mainmenu a:visited, 
#mainmenu a:active {
	color: #313131;
	text-decoration: none;
	display: inline-block;
	padding: 7px 5px;
}

#mainmenu a:hover {
	text-decoration: none;
	color: #fff;
	background-color: #7e5f42;
	
}
#mainmenu a.selected {
	color: #fff;
	background-color: #689129;
}


#mainmenu ul {
}


#mainmenu li {
	display:inline;
	padding:0 10px;
}