.exercise-line{
	height:30px;
	font-size: 30px;
	padding-top:20px;
	padding-bottom:10px;
}
.exercise-label{
	color: #CBCBCB;
    float: left;
}
.exercise-name {
    padding-left: 50px;
    float:left;
}
.practice-again{
	float:right;
	font-size:12px;
}
.question-line {
	font-size : 15px;
}
.first-col{
	color: #CBCBCB;
	padding-right: 20px;
	width:15%;
	float: left;
}
.second-col{
	width: 40%;
	text-transform:capitalize;
}
.question-details{
	width: 65%;
	float: left;
}
.answer-div{
	float: right;
	width: 35%;
}
.answer-second{
	margin-left: 30px;
}
.reportqna{
	display: inline-block;
    padding-bottom: 15px;
    width: 100%;
}
