<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
		<title>NomadEDU</title>
		<link href="/media/css/base.css" rel="stylesheet" type="text/css"/>
		{% block head %}
		{% endblock %}
	</head>
	<body>
	{% block menu %}
	{% endblock %}
        <div id="content" style="height:600px; width:720px; margin-left:auto; margin-right:auto; margin-top: 50px">
            {% block content %}
			{% endblock %}
        </div>
	</body>
</html>

