<div id="container">
	<script type="text/javascript">
	$(function() 
	{
		window.setInterval(update_tweets, 10000);
		$(document).ready(function(){
			filter_start({{category_layout}}, $("#cat_{{category_layout}}"), "cat");
		});
	});
	</script>
	<div id="demo" class="demo">
	</div>
</div>