{% extends "base.html" %}
{% load i18n %}

{% block grey_wrapper %}
{% trans "About" %}
{% endblock %}

{% block content%}
<h1>Edu-Hotspot</h1>

A Hotspot is a Ultra-mobile solution of a Storage Server, Wireless Router and Education Platform that can be setup anywhere in the world as long as there is access to electricity.
<ul>
	<li>Ultra-mobile, self-contained, pre-packaged solution (Server, Platform, router, switch, wireless access point).</li>
	<li>It addresses worst-case scenario of locations with no available Internet access.</li>
	<li>No large capacity storage required in end user devices , ideal when communities have laptops , PDA or tablet PCs.</li>
	<li>Upgradeable. New educational packages or training material can be added/updated by CDs and/or USB drives.</li>
	<li>All material is accessible via a web browser through the nomadEDU platform. No need to install any special software.</li>
</ul>
{%endblock%}
