{%extends "base.html" %}
{% load translate %}
{% load i18n %}

{% block title %}
Open University - {% trans "Home Page" %}
{% endblock %}

{% block grey_wrapper %}
<!--{{ request.user.username }}'s page-->
{% trans "Welcome!" %}
{% endblock %}

{% block js %}
<script type='text/javascript' src='/media/jwplayer/jwplayer.js'></script>
<script type='text/javascript' src='/media/jwplayer/swfobject.js'></script>
{% endblock %}

{%block content%}

{% trans "Thank you for logging in, please navigate to \"Topics\" to view lessons." %}

<div class="col2_al">
    <!--<div class="col2_el">
    	{% trans "Track Progress" %}:
		<br>
		{% trans "Points" %}: {{account.get_points}}
		<br>
		{% trans "Badges" %}:
		<br> 
		{% for b in account.get_badges %}
			<img src="/media/uploaded_files/badges/{{b.get_file_name}}"></img>
		{% endfor %}
		<br>
    </div>
	<div class="col2_el">
		{% trans "Lessons Completed" %}:
		<br>
		{% for at in ats %}
			{% for l in at.completed_lessons.all %}
			<div><a href="/courses/topic/{{l.topic.id}}"/>{% t9n at.topic "name"%} - {% t9n l "name"%}</a></div>
			{% endfor %}
		{% endfor %}
	</div>-->
    
<!--	<div class="col2_el">
		{% trans "Submitted Questions" %}:	
		
		<table>
        <thead>
            <tr>
                <th>{% trans "Question" %}  </th>
                <th>{% trans "Is Published" %}  </th>
                <th>{% trans "Suggest status" %} </th> 
            </tr>
            {% for qs in user_account_suggest_question %}
            <tr>
                <td>{{qs.question}}</td>
                <td>{{qs.is_published}}</td>
				<td>{{qs.suggest_status}}</td>
            </tr>
            {% endfor %}
        </thead>
    </table>
		
	</div>-->

</div>
<div class="clear"></div>
{%endblock%}
