{% extends "base.html" %}
{% load i18n %}

{% block grey_wrapper %}

<script type="text/javascript">
            Cufon.replace('h3');
            Cufon.replace('.topic-name');       
</script>
<!-- End Using Cufon --> 

<div id="slider-wrapper">
<div id="slider" class="nivoSlider">
<img src="media/img/slider/walle.jpg" alt="" title="{% trans "A little bit of precessing power and some wireless connections." %}"/><img src="media/img/slider/nemo.jpg" alt="" title="{% trans "Brings the magic clouds from the internet to the people who really need it." %}"/>
</div>
</div>
{% endblock %}

{%block content%}
{%endblock%}
