{% extends "base.html" %}
{% load i18n %}

		{% block css %}
		<link href="/media/css/base.css" rel="stylesheet" type="text/css"/>
		{% endblock %}

	{% block menu %}
	{% endblock %}

    {% block header %}
	<a href="{% url index %}">{% trans "Home" %}</a> | 

	{% if user.is_authenticated %}
	{% trans "Logged in" %}: {{ user.username }} 
	(<a href="{% url auth_logout %}">{% trans "Log out" %}</a> | 
	<a href="{% url auth_password_change %}">{% trans "Change password" %}</a>)
	{% else %}
	<a href="{% url auth_login %}">{% trans "Log in" %}</a>
	{% endif %}
	{% endblock %}

