{% extends "base.html" %}
{% load i18n %}

{% block title %}
NomadEDU | Login 
{% endblock %}

{% block grey_wrapper %}
{% trans "Login" %}
{% endblock %}

{% block content %}
<div id="login-container">
    <form method="post" action=".">{% csrf_token %}
      {{ form.as_p }}
    
      <input type="submit" class="submit" value="{% trans 'Log in' %}" />
      <input type="hidden" name="next" value="{{ next }}" />
    </form>
    <div class="forget">
    	<span>{% trans "Forgot password" %}? <a href="{% url auth_password_reset %}">{% trans "Reset it" %}</a>!</span><br/>
    	<span>{% trans "Not member" %}? <a href="{% url registration_register %}">{% trans "Register" %}</a>!</span>
    </div>
</div>

{% endblock %}
