{% extends "base.html" %}
{% load i18n %}

{% block grey_wrapper %}
{% trans "Register" %}
{% endblock %}

{% block js %}
<script type="text/javascript">
$(function() {
		$( "#id_birthdate" ).datepicker();
		$( "#id_birthdate" ).datepicker( "option", "dateFormat", "yy-mm-dd" );
		$( "#id_birthdate" ).datepicker( "setDate" , "1990-1-1" )
	});
</script>
{% endblock %}

{% block content %}
<form method="post" action=".">{% csrf_token %}
  {{ form.as_p }}
  <!--<label for="id_birthdate">{% trans "Birth date" %}</label>
  <input class="datePicker" size="30" id="id_birthdate" type="text" size="10" value="" name="birthdate"/><br/>-->
  <input type="submit" value="{% trans 'Submit' %}" />
</form>
{% endblock %}
