{% extends "base.html" %}
{% load i18n %}
{% load translate %}

{% block title %}
{{reported_fullname}}'s {% trans "Report" %} - {{account_lesson.lesson}}
{% endblock %}

{% block grey_wrapper %}
{% trans "Student" %} : {{reported_fullname}} <br>
{% trans "Lesson" %} : <a href="/topics/{{account_lesson.lesson.topic.alias}}/{{account_lesson.lesson.alias}}/">{{account_lesson.lesson}}</a>
{% endblock%}

{% block js %}

<!-- Begin Using Cufon -->
<script type="text/javascript">
	Cufon.replace('.qtitle');
	$(function() {
		$('.button-link').button();
		
	});
</script>
<!-- End Using Cufon -->

{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" media="screen, projection" href="/media/css/view_report.css"/>
{% endblock %}

{% block content %}
{% for reportexercise in report.reportexercises%}
{% if reportexercise.reportqnas|length > 0 %}
	<div class="exercise">
	
		<div class="exercise-line">
			<div class="exercise-label">{% trans "Exercise" %}:</div>
			<div class="exercise-name">{{reportexercise.exercise}}</div>
			{% if not teacher %}
			<div class="practice-again"><a class="button-link" href="/topics/practice/{{reportexercise.exercise.alias}}/">{% trans "Practice again" %}</a></div>
			{% endif %}
		</div>
		
		{% for reportqna in reportexercise.reportqnas %}
		<div class="reportqna">
			<div class="question-line">
				<div class="first-col">{% trans "Question" %} {{forloop.counter}}</div>
				<div>{{reportqna.question}}</div>
			</div>
			{% if reportqna.question.has_video %}
			<div class="video_container">
		        <div class="video">
		            <p>{% trans "no video available for this topic" %}</p>
		        </div>
		        <div class="functions">
		        	<img src="{{question.image}}"><img>
		        </div>
			</div>	    	
			{% endif %}
			<div class="question-details">
				<div>
					<div class="first-col">{% trans "Type" %}</div>
					<div class="second-col">{{reportqna.question.answer_type}}</div>
				</div>
				<div>
					<div class="first-col">{% trans "Is Answered" %}</div>
					<div class="second-col">{{reportqna.is_answered}}</div>
				</div>
				<div>
					<div class="first-col">{% trans "Hint Used?" %}</div>
					<div class="second-col">{{reportqna.hint_is_used}}</div>
				</div>
				<div>
					<div class="first-col">{% trans "Attempts" %}</div>
					<div class="second-col">{{reportqna.attempts}}</div>
				</div>
				<div>
					<div class="first-col">{% trans "Time Taken" %}</div>
					<div class="second-col">
						{{ reportqna.time_taken }}
					</div>
				</div>
			</div>
					
			<div class="answer-div">
				{% for field in reportqna.answerform %}
				<div>
					<div class="first-col">{{field.label}}</div>
					<div class="answer-second"><form>{{field}}</form></div>
				</div>
				{% endfor %}
			</div>
		</div>
		{% endfor %}
		
	</div>
{% endif %}
{% endfor %}

{% endblock %}