{% extends "base.html" %}
{% load i18n %}
{% load translate %}

{% block js %}
{% endblock %}

{% block css %}
{% endblock %}

{% block grey_wrapper %}
{% trans "Start Practice" %}
{% endblock%}

{% block title %}
Open University - {% trans "Start Practice" %}
{% endblock %}

{% block content %}
<div id="middle_container">
<div class="ask">
    {% if no_questions %}
        {% trans "we are sorry but there are no questions added in this exercise" %}
    {% else %}
        {% if sign_in_reminder %}
            {% trans "Taking these exercises without signing in your progress won't be saved, so please sign in or register if you have not done so!" %}
	{% endif %}
<br>
        {% trans "You are going to start exercise" %} "{% t9n practice_exercise "name" %}" {% trans "from lesson" %} 
<br>
        "{% t9n practice_exercise.lesson "name" %}" {% trans "of topic" %} {% t9n practice_exercise.lesson.topic "name" %}
     <div class="both-button">
     	<div class="button-back"><a href="../../{{practice_exercise.lesson.topic.alias}}/{{practice_exercise.lesson.alias}}">{% trans "view lesson" %}</a></div>
        {% if not no_resume%}
        <div class="button-middle"><a href="{{form_action}}">{% trans "Resume practice" %}</a></div>
        <div class="button-next"><a href="1/reset">{% trans "Restart practice" %}</a></div>
        {% else %}
        <div class="button-next"><a href="1/reset">{% trans "Start practice" %}</a></div>
        {% endif %}
        
    </div>
    {% endif %}
</div>
</div><!-- #left_container -->
{% endblock %}

