{% extends "base.html" %}
{% load i18n %}
{% load translate %}

{% block title %}
Open University - {% trans "Practice" %}
{% endblock %}

{% block grey_wrapper %}
{% trans "Practice" %}
{% endblock%}

{% block js %}
<script type='text/javascript' src='/media/jwplayer/jwplayer.js'></script>
<script type='text/javascript' src='/media/jwplayer/swfobject.js'></script>
<script type="text/javascript" src="/media/lightbox/js/jquery.lightbox-0.5.js"></script>
<script type="text/javascript">
$(function() {
    $('#gallery a').lightBox();
});
</script>
<script type="text/javascript">
$(document).ready(function() 
{
{% if question.has_video %}
    jwplayer('video').setup({
  	'flashplayer': '/media/jwplayer/player.swf',
    'id': 'playerID',
    'width': '480',
    'height': '300',
	{% if question.video.is_localized %}
    'file': '/media/{{question.video.file}}',
	{% else %}
	'file': '{{question.video.url_path}}',
	{% endif %}
	{% if question.video.subtitle_file %}
    'plugins': {
      "captions-2": {
        back: false,
        file: "/media/{{question.video.subtitle_file}}",
      }
    },
    {% endif %}
  });
{% endif %}
  safe_images();
});
function vote_for_question()
{
	data = {}
	$.ajax({
		type: "GET",
		url: "/students/vote/{{question.id}}/",
		data: data,
		success: function(resp)
		{
			alert(resp);
			$("#votes").html(parseInt($("#votes")).html()+1);
		}
	});			
}

function safe_images()
{
	str = document.getElementById("practice_form").innerHTML;
	var patt=new RegExp("&lt;img","gi");
	str2 = str.replace(patt, "<img");
	document.getElementById("practice_form").innerHTML = str2;
}
</script>

<!-- Begin Using Cufon -->
<script type="text/javascript">
			Cufon.replace('.qtitle');
</script>
<!-- End Using Cufon -->
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/media/lightbox/css/jquery.lightbox-0.5.css" media="screen" />
<style type="text/css">
    /* jQuery lightBox plugin - Gallery style */
    #gallery {
        padding: 10px;
    }
    #gallery ul { list-style: none; }
    #gallery ul li {float:left; margin-right:8px; margin-bottom:8px; }
    #gallery ul img {
        border: 5px solid #fff;
    }
    
    #gallery ul a:hover img {
        border: 5px solid #fff;
        color: #fff;
    }
    #gallery ul a:hover { color: #fff; }
</style>
{% endblock %}

{% block content %}

{%if is_incorrect%}
	{% trans "You have answered incorrectly" %}
{%endif%}
<div id="left_container">
	{% if request.user.message_set.all %}  
	<ul>
		<li>{{ logged_account.get_last_user_msg }}</li>	</ul>
	{% endif %}

    	<div class="grey-box"><div class="qtitle">{% trans "Question" %}</div><div class="qtext">{{ question }}</div></div>
    
	{% if question.has_video %}
    <div id="video_container">
        <div id="video">
            <p>{% trans "no video available for this topic" %}</p>
        </div>
        <div id="functions">
        	<img src="{{question.image}}"><img>
        </div>
    </div>
    
	{% endif %}
	<form method="POST" action="../{{form.action}}/">
		<input type="hidden" name="question_id" value="{{question.id}}">
	{% csrf_token %}
<ul id="practice_form">
	{% for field in form %}
        {% if field.is_hidden %}
		{{ field }}
		{% else %}
        <li><div class="grey-box"><div class="qtitle">{{ field.label_tag }}&nbsp;</div><div class="qtext">{{ q.answer_type }}</div></div> {{ field }}</li>
		{% endif %}
	{% endfor %}
</ul>
	</table>
<div id="practice-buttons">	
	<input type="submit" class="practice_submit" name="submit" value="answer">
	<input type="submit" class="practice_next" name="submit" value="skip">

	<div class="total-hint">
		{% if hint %}
        <a  href="" onclick="alert('{% t9n question "hint" %}'); return false">hint</a>
        {% endif %}
        <!--
        {% if request.user.is_authenticated %}
            {% trans "total votes" %} : <span id="votes">{% if question.votes %}{{question.votes}}{%else%}0{%endif%}</span>
        {% endif %}
        <a href="" onclick="vote_for_question(); return false">vote</a>
        <a href="" onclick="alert('functionality not implemented'); return false">share</a>
        -->
	</div>
</div></form>
</div>

<div id="right_container">
<div id="badge_container">
<div class="badge-title">{% trans "Badges" %}</div>
{% trans "Max Points" %}: {{practice_exercise.lesson.get_possible_total_points}}
</div>
        
<div id="textbook_container" class="margin_top_bot">
<div class="textbook-title"> {% trans "Image Album:" %}</div>
<div id="gallery">
<ul>
{% for image_item in practice_exercise.lesson.image_set.all %}
<li>
<a href="{{image_item.image_file.file}}" title="">
<img src="{{image_item.thumbnail}}" width="72" height="72" alt="" />
</a>
</li>
{% endfor %}
</ul>
</div><!-- .gallery -->
</div><!-- textbook_container-->
</div><!-- right-container -->
{% endblock %}