{% extends "base.html" %}
{% load i18n %}
{% load translate %}

{% block title %}
	Open University
{% endblock %}

{% block grey_wrapper %}
	{% trans "Your result:" %}
{% endblock %}

{% block content %}
{% trans "you've answered all the questions in the current topic's exercise" %}<br>
{% trans "exercise" %}: {% t9n topic "name" %} > {% t9n exercise.lesson "name" %} > {% t9n exercise "name" %} <br>
{% trans "questions (answered/total)" %}: ({{ questions_answered }}/{{ questions_total }})
<br>
{% trans "go" %} <a href="../../../{{exercise.lesson.topic.alias}}/{{exercise.lesson.alias}}/">{% trans "back" %}</a> {% trans "to topic page" %}
	
{% endblock %}
