{% load i18n %}
{% load translate %}


{% for t in topics %}
<div id="box">
    
    <div class="description">
    <a href="{% if t.alias %}{{t.alias}}{% else %}{{t.id}}{% endif %}/lessons/">
        {% t9n t "name" %}
    </a>
    </div>
    <a href="{% if t.alias %}{{t.alias}}{% else %}{{t.id}}{% endif %}/lessons/">
        <img width="215" src="/media/imgs/lesson.gif"></img>
    </a>
</div>
{% endfor %}

