{% extends "base.html" %}
{% load i18n %}

{% block grey_wrapper %}
{% trans "Topics" %}
{% endblock%}

{% block title %}
NomadEDU - {% trans "Topics" %}
{% endblock %}

{% block css %}
{% endblock %}

{% block js %}
<script>
$(document).ready(function(){
    addEL();
    s = {} // subjects
    a_g = {} // age groups
	
	{% for s in subjects %}
		s["{{s}}"] = [{{s.id}}, false] 
	{% endfor %}
	
	{% for a_g in age_groups %}
		a_g["{{a_g.age}}"] = [{{a_g.id}}, false]
	{% endfor %}
	var selected_tab = "subjects";
	$(".topic_filter").click(function(){
		if($(this).attr("id") != selected_tab)
		{
			$(".tab").toggle().end();
			selected_tab = $(this).attr("id");
		}
		return false;
	});
	firstCall();
	
    function addEL() { // event listener
        $(".selectable").click(function(){
            $(this).toggleClass("active_topic_filter");
            if(s[""+$(this).html()+""]==null)
                a_g[""+$(this).html()+""][1] = (a_g[""+$(this).html()+""][1]) == false ? true : false;
            else
                s[""+$(this).html()+""][1] = (s[""+$(this).html()+""][1]) == false ? true : false;

            data = {"s":"", "ag":""}
            for (si in s) if(s[si][1]) data["s"] += ","+s[si][0] 
            for (a_gi in a_g) if(a_g[a_gi][1]) data["ag"] += ","+a_g[a_gi][0];
			
            $.ajax({
                type: "GET",
                url: "get_topics",
                data: data,
                success: function(resp){
                    $("#ccontent").html(resp);
                }
            });			
	    return false;
        });
    }
	
    function firstCall() {
        data = {"s":"", "ag":""}
        for (si in s) if(s[si][1]) data["s"] += ","+s[si][0] 
        for (a_gi in a_g) if(a_g[a_gi][1]) data["ag"] += ","+a_g[a_gi][0];
		
        $.ajax({
            type: "GET",
            url: "get_topics",
            data: data,
            success: function(resp){
                $("#ccontent").html(resp);
            }
        });
    }
});
</script>
{% endblock %}

{%block content%}
<div id="ccontent">
    
</div>
<div id="sidebar">
    <div id="block">
        <ul class="htabs">
            <li><a href="" class="topic_filter" id="subjects">Subject</a></li>
            <li><a href="" class="topic_filter" id="age_groups">Grades</a></li>
        </ul>
        <div class="tabs">
            <div style="display: block;" class="tab" id="tab_subjects">
                <ul>
    {% for s in subjects %}
                    <li>
                        <span class="bullet">{{ forloop.counter }}</span>
                        <a class="selectable subject_filter" href="">{{ s }}</a>
                    </li>
    {% endfor %}
                </ul>
            </div>
	    <div style="display: none;" class="tab" id="tab_age_groups">
                <ul>
    {% for a_g in age_groups %}
                    <li>
                        <span class="bullet">{{ forloop.counter }}</span>
                        <a class="selectable age_group_filter" href="">{{a_g.age}}</a>
                    </li>
    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{%endblock%}
