{% extends "base.html" %}
{% load i18n %}

{% block title %}
Open University - {% trans "Add course" %}
{% endblock %}

{% block grey_wrapper %}
    {% trans "Add course" %}
{% endblock %}

{% block js %}
<script type="text/javascript">
var t = null;
var t_var;
$(document).ready(function(){
	
	$(".course_tree_node_filter").each(function()
	{
		$(this).hide();
	});

    $(".topic").click(function()
	{
        // alert($(this).parent().attr("value")); // works when clicked
	});
	
	$(".course_node").click(function()
	{
		$(this).html($(this).html() == " - " ? " + " : " - ");
		$("#"+$(this).attr("lower_content_container_id")).toggle();
		extractor_changed($(this));
	});
	
	$(".course_content_checkbox").change(function(){
		if($(this).attr("checked")) // node checked
		{
			select_all_lower($(this).attr("lower_content_container_id"));
            if($("#"+$(this).attr("lower_content_container_id")).
			css("display") == "none")
			{
				extractor = $("#" + $("#" + $(this).attr("lower_content_container_id")).
				attr("extractor_id"));
				extractor.html(" + ");
				$("#" + $(this).attr("lower_content_container_id")).toggle()
				extractor_changed(extractor);
			}
			$("#"+$(this).attr("lower_content_container_id")).find("ul").each(
			function(){
				if( $(this).css("display") == "none" )
				{
					$(this).toggle();
					extractor = $("#" + $(this).attr("extractor_id"));
					extractor.html(" + ");
					extractor_changed(extractor);
				}    
			});
			select_upper($(this).attr("id"));
		} else // node unchecked
		{
			unselect_all_lower($(this).attr("lower_content_container_id"));
		    unselect_all_upper($(this).attr("id"))
		}
	});
	
	$(".course_tree_node_filter").keyup(function()
	{
		t_var = $(this)
		if( t!=null )
            clearTimeout(t);
		t = setTimeout("filter_course_nodes()", 1000);
	});
});

function extractor_changed(ext_dom)
{
	var course_node_filter = $("#" + ext_dom.attr("filter_id"));
	if( ext_dom.text() == " - " )
        course_node_filter.hide()
    else
        course_node_filter.show()
}

function filter_course_nodes()
{
	var patt = new RegExp(t_var.attr("value"), "gi");
    $("#" + t_var.attr("filter_for")).find("label.course_node_" +
    t_var.attr("filter_content_type") + " > span").each(function()
    {
        if(patt.test($(this).text()))
        {
            if($("#" + $(this).attr("parent_li")).css("display")=="none")
            {
                $("#" + $(this).attr("parent_li")).toggle();
            }
        } else
        {
            if($("#" + $(this).attr("parent_li")).css("display") != "none")
            {
                $("#" + $(this).attr("parent_li")).toggle();
            }  
        }
    });
}


function all_siblings_are_unselected(parent_id)
{
	var are_checked = true;
	$("#" +$("#"+parent_id).attr("lower_content_container_id")).
	find("input[type='checkbox']").each(function()
	{
		if($(this).attr("checked"))
		{
            are_checked = false;
		}
	});
	return are_checked;
}

function unselect_all_upper(id)
{
	if(id != null &&
    all_siblings_are_unselected($("#"+id).attr("upper_content_id")))
    {
		$("#"+$("#"+id).attr("upper_content_id")).
		attr("checked", false).end();
        unselect_all_upper($("#"+id).attr("upper_content_id"));
    }
}

function select_all_lower(id)
{
	$($("#"+id).find("input[type='checkbox']")).each(function(){
	   $(this).attr("checked", true);	
	});
}

function unselect_all_lower(id)
{
    $($("#"+id).find("input[type='checkbox']")).each(function(){
       $(this).attr("checked", false).end();   
    });
}

function select_upper(id)
{
	if($("#"+id).attr("upper_content_id")!=null)
	{
        $("#"+$("#"+id).attr("upper_content_id")).attr("checked", true);	
	    select_upper($("#"+id).attr("upper_content_id"));
	}
}
</script>
{% endblock %}

{% block css %}
<style type="text/css">

</style>
{% endblock %}

{% block content %}
<div class="course_form">
<form method="POST">
<ul>
	<li>
    {{form.as_ul}}
    </li>
{% for topic in toplevel %}
<li id="li_topic_{{topic.id}}">
<span class="course_node" 
lower_content_container_id="lcc_id_{{topic.id}}"
id="extract_{{topic.id}}"
filter_id="filter_{{topic.id}}"> - </span>
<label class="course_node_topic" for="id_content_id_{{topic.id}}">
<input type="checkbox" class="course_content_checkbox" 
	    lower_content_container_id="lcc_id_{{topic.id}}"
		name="content_id" value="{{topic.id}}" 
		id="id_content_id_{{topic.id}}">
<span class="topic" parent_li="li_topic_{{topic.id}}">{{topic.name}}</span>
</label>
<input type="text" class="course_tree_node_filter" 
filter_for="lcc_id_{{topic.id}}" id="filter_{{topic.id}}"
filter_content_type="lesson">
    <ul style="display:none" id="lcc_id_{{topic.id}}"
    extractor_id="extract_{{topic.id}}">
    {% for lesson in topic.lessons %}
    <li id="li_lesson_{{lesson.id}}">
	<span class="course_node"
	lower_content_container_id="lcc_id_{{lesson.id}}"
	id="extract_{{lesson.id}}"
    filter_id="filter_{{lesson.id}}"> - </span>
	<label class="course_node_lesson" for="id_content_id_{{lesson.id}}">
	<input type="checkbox" class="course_content_checkbox" 
		   upper_content_id="id_content_id_{{topic.id}}" 
	       lower_content_container_id="lcc_id_{{lesson.id}}"
		   name="content_id" value="{{lesson.id}}" 
		   id="id_content_id_{{lesson.id}}">
	<span class="lesson" parent_li="li_lesson_{{lesson.id}}">
		{{lesson.name}}
	</span>
	</label>
	<input type="text" class="course_tree_node_filter" 
	filter_for="lcc_id_{{lesson.id}}" id="filter_{{lesson.id}}"
	filter_content_type="exercise">
		<ul style="display:none" id="lcc_id_{{lesson.id}}"
        extractor_id="extract_{{lesson.id}}">
		{% for exercise in lesson.exercises %}
		<li id="li_exercise_{{exercise.id}}">
        <span class="course_node"
		lower_content_container_id="lcc_id_{{exercise.id}}"
		id="extract_{{exercise.id}}"
        filter_id="filter_{{exercise.id}}"> - </span>
		<label class="course_node_exercise"
		for="id_content_id_{{exercise.id}}">
		<input type="checkbox" class="course_content_checkbox" 
			  upper_content_id="id_content_id_{{lesson.id}}" 
		      lower_content_container_id="lcc_id_{{exercise.id}}"
			  name="content_id" value="{{exercise.id}}" 
			  id="id_content_id_{{exercise.id}}">
		<span class="exercise"
		parent_li="li_exercise_{{exercise.id}}">{{exercise.name}}</span>
		</label>
        <input type="text" class="course_tree_node_filter" 
	    filter_for="lcc_id_{{exercise.id}}"
	    filter_content_type="question"
		id="filter_{{exercise.id}}">
            <ul style="display:none" id="lcc_id_{{exercise.id}}"
            extractor_id="extract_{{exercise.id}}">
            {% for question in exercise.questions %}
			<li id="li_question_{{question.id}}">
	        <label class="course_node_question"
			for="id_content_id_{{question.id}}">
	        <input type="checkbox" class="course_content_checkbox" 
			         upper_content_id="id_content_id_{{exercise.id}}" 
					 name="content_id" value="{{question.id}}" 
					 id="id_content_id_{{question.id}}">
	        <span class="question"
			parent_li="li_question_{{question.id}}">{{question.question}}</span>
			</label>
			</li>
			{% endfor %}			
			</ul>
	    </li>
		{% endfor %}
		</ul>
	</li>
	{% endfor %}
    </ul>
</li>
{% endfor %}
</ul>
<input type="submit" value="{% trans "submit" %}">
</form>
</div>
{% endblock %}