{% extends "base-moderator.html" %}
{% load i18n %}

{% block js %}
{% endblock %}

{% block title %}
Open University - {% trans submit|upper %}
{% endblock %}

{% block content %}
<div id="create_topic_container">
	<form method="POST" enctype="multipart/form-data">
	{% csrf_token %}
		<ul>
		<input type="hidden" name="id" value="{{form.instance.id}}"/>
	{{form.as_ul}}
		</ul>
		<br/>
		{% trans Alias %}
		<ul>
		{{form.alias_nested.as_ul}}
		</ul>
		<div style="width:100%;display:block;float:right">
			<input type="submit" value="{% trans submit %}" />
		</div>
	</form>
</div>

{% endblock %}