{% extends "base-moderator.html" %}
{% load i18n %}
{% load translate %}
{% load pagination_tags %}

{% block title %}
NomadEDU- {% trans "Subject list" %}
{% endblock %}

{% block content %}

<div id="subject-header-container">
<div class="subject-filter">
<form method="post" action="/moderator/content/subjects/">
    {% trans "Subject" %} <input type="text" name="filterSubjectName" value="{{name}}"><input  type="submit" value="{% trans "filter" %}">
</form>
</div>
<div class="ne_ui_content_add_button"> 
<div class="topic-add"> <a class="form_menu" href="add/"> {% trans "Add subject" %}</a> </div>
</div>
</div>


<div class="ne_ui_subcontent_list">
	{% autopaginate subjects 10 %}
<div>

{% for s in subjects %}
<div class="subject_ne_ui_content_item ">
<div class="ne_ui_content_item_data">
    <div class="subject-list">
    	<a href="../{{s.alias_or_id}}/">{%t9n s "name"%}</a> 
        {%for at in s.get_available_translation_languages %} {{at.code}} {%endfor%}
    </div>
    <div class="subject_ne_ui_button"> 
        <a href="../{{s.alias_or_id}}/remove/"><img src="/media/img/icon_deletelink.gif" title="{% trans "delete" %}"></img></a>
        <a href="../{{s.alias_or_id}}/edit/"><img src="/media/img/icon_changelink.gif" title="{% trans "edit" %}"></img></a>
        <a href="../{{s.alias_or_id}}/translate/"><img src="/media/img/icon_translate.png" title="{% trans "translate" %}"></img></a>
    </div>
</div><!-- .ne_ui_content_item_data -->

</div><!-- .ne_ui_content_item -->
{% endfor %}
</div>
	{% paginate %}
</div><!-- ne_ui_subcontent_list -->
{% endblock %}