{% extends "base-moderator.html" %}
{% load i18n %}
{% load translate %}
{% load pagination_tags %}

{% block title %}
Open University - {% trans "Subject" %} - {% t9n c "name" %}
{% endblock %}

{% block content %}


<div id="topic-header">
<div class="topic-name"><span class="hide">{% trans "name" %}</span> <span>{% t9n c "name" %}</span></div>
    <div class="ne_ui_content_add_button"> 
    <div class="topic-add"> <a class="form_menu" href="topics/add/">{% trans "Add topic"%}</a> </div>
    <div class="topic-edit"> <a href="./edit/">{% trans "edit" %}</a></div>
</div>
</div>


<div class="ne_ui_fields">
<div class="subject-filter">

    {% trans "name" %} <input type="text" name="filterName" value="{{name}}" /> {% trans "description" %}
    <input type="text" name="filterDescription" value="{{fdescription}}"/> {% trans "ageGroup" %}{{formTopic.age_group}}<input type="submit" value='{% trans "Filter" %}'>

</div>
	</div>
    <div class="ne_ui_subcontent_list">
          {% autopaginate topics 6 %}
    <div>

    
    {% for t in topics %}
    
<!-- Begin Using Cufon -->
<script type="text/javascript">
            Cufon.replace('.header-title');
            Cufon.replace('.topic-name');       
</script>
<!-- End Using Cufon --> 

<div class="ne_ui_content_item {% cycle "col1" "col2" "col3"%}">

<div class="ne_ui_button">
<div class="header-title"><a href="./{{ t.alias }}/">{% t9n t "name" %}</a></div>
</div> <!-- ne_ui_button -->


<div class="ne_ui_content_item_data">
<div class="ne_ui_desc">
    <span class="hide">{% trans "description" %}</span><span>{% t9n t "description" %}</span>
    <div class="agegroup">
        <span class="hide">{% trans "age group" %}</span>
        <span>{{t.age_group}}</span>
    </div>

</div>
<div id="footer-container">
    <div class="footer-icons">
    <a href="./{{ t.alias }}/edit/"><img src="/media/img/icon_changelink.gif" title="{% trans "edit" %}"></img></a>
    <span onclick="confirm_delete('./{{t.alias}}/remove/', '{%trans "do you really want to delete this item?"%}')">
        <img src="/media/img/icon_deletelink.gif" title="{% trans "delete" %}"></img>
    </span>
    <a href="./{{ t.alias }}/translate/"><img src="/media/img/icon_translate.png" title="{% trans "translate" %}"></img></a>
    </div> <!-- footer-icons -->
</div>  <!-- footer-container -->
<div class="ne_more"><a href="./{{ t.alias }}/">More</a></div>
<!-- <div>{%for at in t.get_available_translation_languages %} {{at.code}} {%endfor%}</div> -->
</div><!-- .ne_ui_content_item_data -->

</div><!-- .ne_ui_content_item -->
    {% endfor %}
</div>
</div><!-- .ne_ui_subcontent_list -->
    {% paginate %}
{% endblock%}