{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% trans "Evaluation" %}
{% endblock %}

{% block grey_wrapper %}
{% trans "Evaluation" %}
{% endblock %}

{% block js %}
{% endblock %}
{% block css %}
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" media="screen, projection" href="/media/css/profiles.css"/>
<div id="profile-info">
<form action=" " method="post">
    {{ form.non_field_errors }}
    <div class="eval-info-label">
        {{ form.firs_name.errors }}
        <label for="id_subject">First Name:</label>
        {{ form.first_name }}
    </div>
    <div class="eval-info-label">
        {{ form.last_name.errors }}
        <label for="id_message">Last Name :</label>
        {{ form.last_name }}
    </div>
    <div class="eval-info-label">
        {{ form.user_id.errors }}
        <label for="id_message">User ID :</label>
        {{ form.user_id }}
    </div>
</div>
<div id="eval-info">
    <div class="eval-info-label">
        {{ form.q1.errors }}
        <label for="id_sender">1. How much time do you spend using computers each week?</label>
        {{ form.q1 }}
    </div>
    <div class="eval-info-label">
        {{ form.q2.errors }}
        <label for="id_sender">2. Where do you have access to a computer?</label>
        {{ form.q2 }}
    </div>
    <div class="eval-info-label">
        {{ form.q3.errors }}
        <label for="id_sender">3. How important is technology for your life ambition? </label>
        {{ form.q3 }}
    </div>
    <div class="eval-info-label">
        {{ form.q4.errors }}
        <label for="id_sender">4. How much do you like using computers?</label>
        {{ form.q4 }}
    </div>
    <div class="eval-info-label">
        {{ form.q5.errors }}
        <label for="id_sender">5. Have you used a computer to study in school so far? What do you use it for? </label>
        {{ form.q5 }}
    </div>
    <div class="eval-info-label">
        {{ form.q6.errors }}
        <label for="id_sender">6. When you don’t understand a concept or a lesson what do you do?</label>
        {{ form.q6 }}
    </div>
    <div class="eval-info-label">
        {{ form.q7.errors }}
        <label for="id_sender">7. How much do you like going to school?</label>
        {{ form.q7 }}
    </div>
    <div class="eval-info-labeleval-info-label">
        {{ form.q8.errors }}
        <label for="id_sender">8. How much do you like learning about math?</label>
        {{ form.q8 }}
    </div>
    <div class="eval-info-label">
        {{ form.q9.errors }}
        <label for="id_sender">9. How much do you like learning about science in school?</label>
        {{ form.q9 }}
    </div>
    <div class="eval-info-label">
        {{ form.q10.errors }}
        <label for="id_sender">10. How much do you like learning about technology?</label>
        {{ form.q10 }}
    </div>
    <div class="eval-info-label">
        {{ form.q11.errors }}
        <label for="id_sender">11. What is your favorite subject in school?</label>
        {{ form.q11 }}
    </div>
    <div class="eval-info-label">
        <p></p>
    </div>
    <div class="eval-info-label">
        {{ form.q12.errors }}
        <label for="id_sender">12. What job do you want when you grow up:</label>
        {{ form.q12 }}
    </div>
        <div class="eval-info-label">
    <p></p>
    </div>
    <div class="eval-info-label">
        {{ form.q13.errors }}
        <label for="id_sender">13. Do you think you will need computers for this jobs</label>
        {{ form.q13 }}
    </div>
    <div class="eval-info-label">
        {{ form.q14.errors }}
        <label for="id_sender">14. What other learning programs do you participate in besides school:</label>
        {{ form.q14 }}
    </div>
    <div class="eval-info-label">
        {{ form.q15.errors }}
        <label for="id_sender">15. If you go for tuition classes, what subjects do you take and how days a week do you go for classes? </label>
        {{ form.q15 }}
    </div>
    <p><input type="submit" class="submit" value="{% trans 'Submit' %}" /></p>
</form>
</div>
{% endblock %}

