{% extends "base.html" %}
{% load translate %}
{% load i18n %}

{% block js %}
{% endblock %}

{% block grey_wrapper %}
{% t9n topic "name" %}
{% endblock %}

<!-- start of topic/lesson/list.html -->
{% block content %}
<div>
    <span class="hide">{% trans "Lessons" %}:</span>.
    
    {% for l in lessons %}
    <div class="list {% cycle "col1" "col2" "col3"%}">
        <a href="/topics/{{l.topic.alias}}/{{l.alias}}/">{% t9n l "name" %}</a>
        {% trans "Number of exercises" %}
        :
        {{ l.exercises.count }}
    </div>
    {% endfor %}
</div>
{% endblock %}
