{% extends "base.html" %}
{% load translate %}
{% load i18n %}

{% block title %}
NomadEDU - {% t9n lesson "name" %}
{% endblock %}

{% block js %}
<script type='text/javascript' src='/media/jwplayer/jwplayer.js'></script>
<script type='text/javascript' src='/media/jwplayer/swfobject.js'></script>
<script type="text/javascript" src="/media/lightbox/js/jquery.lightbox-0.5.js"></script>
<script type='text/javascript' src='/media/js/jquery.linkselect.min.js'></script>
<script type='text/javascript' src='/media/js/jquery.form.js'></script>
<script type='text/javascript' src='/media/js/jquery-filetype.js'></script>
<script type="text/javascript">
$(document).ready(function() {
	jwplayer('video').setup({
	    flashplayer: '/media/jwplayer/player.swf',
	    id: 'playerID',
	    width: '640',
	    height: '363',
		image: '/media/{{lesson.video.thumbnail_path}}',
		allowscriptaccess : "always",
	
	{% if lesson.video.is_localized %}
	    file: '/media/{{lesson.video.file}}',
	{% else %}
	    file: '{{lesson.video.url_path}}',
	{% endif %}
		plugins: {
	{% if lesson.video.subtitle_file %}
	        captions-2: 
			{
		        back: false,
		        file: "/media/{{lesson.video.subtitle_file}}",
	        },
	{% endif %}
	    },
	});
});
</script>

<!-- Begin Using Cufon -->
<script type="text/javascript">
			Cufon.replace('#topic_title');
</script>
<!-- End Using Cufon -->

<script type="text/javascript">
    $(function() {
    	var showError=function(errorText){
        	$("#error-text").html('<p>'+errorText+'</p>')
        };
    	$('#gallery a').lightBox({maxHeight: screen.height * 0.75, maxWidth: screen.width * 0.75});
        $("#suggest_question_container").hide();
        $("input:button,input:submit").button();
        $('#file_container').linktype();
        $(".suggest-question").bind("click", function(event) {
			event.preventDefault();
			$("#exercise-id").val($(this).attr("exerciseid"));
			$("#exercise_container").hide();
			$("#textbook_container").hide();
			$("#file_container").hide();
			$("#suggest_question_container").show();
		});
		var resetSuggestedQuestion = function(){
			$("#exercise_container").show();
			$("#textbook_container").show();
			$("#file_container").show();
			$("#suggest_question_container").hide();
			$("#suggest_question_container form").resetForm();
			$('#question-type-select').linkselect("val","0");
			$("#answer-count").val(0);
			$("#answers-added-div").html("");
			showError("");
		};
		$("#cancel-suggested-question").bind("click", function(event) {
			event.preventDefault();
			resetSuggestedQuestion();
		});
		$("#add-answer-button").bind("click", function(event) {
			event.preventDefault();
			var answer = $('#add-answer textarea').val();
			if(!answer){return;}
			var correct = $('input:radio[name="correctRadio"]:checked').val();
			var anscount = parseInt($("#answer-count").val());
			var name = "anschbox"+anscount;
			$("#answer-count").val(++anscount);
			var toAppend = '<label for="'+name+'">'+answer+'</label><input type="checkbox" name="'+name+'" '+correct+' value="'+answer+'"/><br>';
			$("#answers-added-div").append(toAppend).show();
			$('#add-answer textarea').val("");
		});
        $('#question-type-select').linkselect({
        	style: "selectbox",
			change: function (li, value, text){
				switch(value){
					case "0"://choose
						$("#suggest_question_container .dependOnAnswer").hide();
						break;
					case "1"://Text Answer
						$("#single-answer").show();
						$("#add-answer").hide();
						$("#answers-added").hide();
						break;
					case "2"://Single choice
					case "3"://Multiple choice
						$("#single-answer").hide();
						$("#add-answer").show();
						$("#answers-added").show();
						break;
				}
			}
        }); 
        $('#question-type-select').linkselect("val","0");
        var beforeSerialize = function($form, options) { 
    		 var correctAns = [],
    		 	 wrongAns = [];
    		 $("#answers-added-div input").each(function(){
    		 	if(this.checked){
			    	correctAns.push(this.value);
			    }else{
			        wrongAns.push(this.value);
			    }
			    return this;
			}); 
			$("#correct-answers").val(correctAns);
			$("#wrong-answers").val(wrongAns);
		};
        var validate = function(formData, jqForm, options) { 
        	var form = jqForm[0],
        		el = null,
        		ansType="0",
        		wrongAns=[],
        		correctAns=[],
        		answer="";
        		
        	for (var i=0; i < formData.length; i++) { 
        		el = formData[i];
		        if (el.name == "question" && !el.value) { 
		            showError('Please enter some text for the question'); 
		            return false; 
		        } else if (el.name == "question-type-select"){
		        	if (el.value == "0"){
			        	showError('Please choose a type of answer'); 
			            return false;
			        }else{
			        	ansType = el.value;
			        }
			    } else if (el.name == "answer"){
			    	answer = el.value;
			    } else if (el.name == "wrong-answers"){
			    	wrongAns = el.value.split(",");
			    } else if (el.name == "correct-answers"){
			    	correctAns = el.value.split(",");
			    }
		    }
		    if(ansType==1 && !answer){
		    	showError('Please enter some text for the answer');
		    	return false;
			}else if(ansType==2 && correctAns.length!=1){
		    	showError('Please choose one correct answer for a Single choice question');
		    	return false;
			}else if(ansType==3 && correctAns.length<=1){
		    	showError('Please choose more than one correct answer for a Multiple choice question');
		    	return false;
			}
		    return true; 
        };
        var showResponse = function(responseText, statusText, xhr, $form) {
        	$("#submitted-question").hide().html(responseText.message);
        	resetSuggestedQuestion();
        	$("#submitted-question").show().delay(10000).slideUp()
        	return false;
        };
        var options = { 
        	target:	"#submitted-question",
	        beforeSubmit:  validate,  // pre-submit callback 
	        success:       showResponse,  // post-submit callback 
	        url:       "{%url openuniversity.apps.common.views.ajax_suggest%}",         // override for form's 'action' attribute 
	 		beforeSerialize:	beforeSerialize,
	 		type:	'post',
	 		dataType:  'json'
	    }; 
 		// bind form using 'ajaxForm' 
	    $("#suggest_question_container form").ajaxForm(options).resetForm(); 
        $("#answer-count").val(0);
    });
</script>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/media/video-js/video-js.css" type="text/css" media="screen" title="Video JS" charset="utf-8">
<link rel="stylesheet" type="text/css" href="/media/lightbox/css/jquery.lightbox-0.5.css" media="screen" />
<link rel="stylesheet" type="text/css" media="screen, projection" href="/media/css/jqtransform.css"/>
<link rel="stylesheet" type="text/css" media="screen, projection" href="/media/css/jquery.linkselect.style.select.css"/>
<link rel="stylesheet" type="text/css" media="screen, projection" href="/media/css/jquery-filetype.css"/>
<style type="text/css">
    /* jQuery lightBox plugin - Gallery style */
    #gallery {
        padding: 10px;
    }
    #gallery ul { list-style: none; }
    #gallery ul li {float:left; margin-right:8px; margin-bottom:8px; }
    #gallery ul img {
        border: 5px solid #fff;
    }
	
    #gallery ul a:hover img {
        border: 5px solid #fff;
        color: #fff;
    }
    #gallery ul a:hover { color: #fff; }
    
    #file_container {
	    background: none repeat scroll 0 0 #FAFAFA;
	    margin-bottom: 15px;
	    overflow: hidden;
	    padding: 10px;
	}
	#file_container ul {
	    margin: 0;
	    padding: 0;
	}
	#file_container li {
	    border-bottom: 1px solid #F3F3F3;
	    padding: 5px;
	}
    
    .file-title {
	    background: none repeat scroll 0 0 #FFCC2A;
	    color: #FFFFFF;
	    padding: 5px;
	}
    #suggest_question_container textarea{
    	max-width: 310px;
    	width: 310px;
    	min-width:310px;	
    }
    
    .selectbox-link-text{
    	text-transform:capitalize;	
    }
    
    .selectbox-value{
    	text-transform:capitalize;	
    }
    
    #suggest_question_container p{
    	background: none repeat scroll 0 0 #FAFAFA;
    	padding-bottom: 5px;
    	border:thin;
    }
    .bold{
    	font-weight:bold;
    }
    #error-text{
    	color: red;
    }
    #submitted-question{
    	color:green;
    }
</style>
{% endblock %}

{% block grey_wrapper %}
{% t9n lesson "name" %}
{% endblock %}

<!-- start of topic.html -->
{% block content %}
<div id="video_container">
    <div id="left_container">
  	<div id="video">
	<p>{% trans "no video available for this lesson" %}</p>
        </div>
        <!--<div id="functions" style="">
            <img src="../../../../media/img/button_images/download.jpg"></img>
            <img src="../../../../media/img/button_images/share.jpg"></img>
            <img src="../../../../media/img/button_images/translate.jpg"></img>
        </div>-->
                
        <div id="description_container">
        	<span id="topic_title">
					 {% t9n lesson "name" %}
        	</span>
			<span id="description">
				{% t9n lesson "description" %}
			</span>
            <a>
            	<img></img>
            </a>
            </div>
          <!--{% trans "Pdf file:"%}
	<embed type="application/pdf" src="/media/content/sample.pdf" width="100%" height="825px">-->
	</div>
        
<div id="right_container">

<!--<div id="badge_container">
<div class="badge-title">Badges</div>
</div>-->
<div id="exercise_container" >
<div class="exercises-title"> {% trans "Exercises" %}:</div>
<div id="submitted-question"></div>
{% for e in exercises %}
<div>
<ul>
<li>
<a href="/topics/practice/{{e.alias}}/">{% t9n e "name" %}</a> 
	  {% if e in a_t.completed_exercises.all %}
	  {% trans "completed" %} 
	  {% endif %}
<a href="#" exerciseid="{{e.id}}" class="suggest-question">
   <img src="/media/img/icon_addlink.gif" title="{% trans "Suggest question" %}">
   </img>
</a>
</li>
</ul>
</div>
{% endfor %}
</div>

<div id="file_container" class="margin_top_bot">
<div class="file-title"> {% trans "Files:" %}</div>
<div id="files">
<ul>
{% for file_item in lesson.pdffile_set.all %}
<li>
<a href="{{file_item.file.url}}" target="_blank">
	{{file_item.name}}
</a>
</li>
{% endfor %}
</ul>
</div><!-- .files -->
</div><!-- file_container-->
        
<div id="textbook_container" class="margin_top_bot">
<div class="textbook-title"> {% trans "Image Album:" %}</div>
<div id="gallery">
<ul>
{% for image_item in lesson.image_set.all %}
<li>
<a href="{{image_item.image_file.file}}" title="">
<img src="{{image_item.thumbnail}}" width="72" height="72" alt="" />
</a>
</li>
{% endfor %}
</ul>
</div><!-- .gallery -->
</div><!-- textbook_container-->

<div id="suggest_question_container" class="margin_top_bot">
	<div class="exercises-title"> Suggest a question:</div>
	<div id="error-text"></div>
	<form method="post" action="{%url openuniversity.apps.common.views.ajax_suggest%}">
		<p>
			<label class="bold" for="question">Question: </label> <br>
			<textarea id="question-text" name="question" rows="2" cols="41"></textarea>
		</p>
		<p>
			<label class="bold" for="question-type-select">Answer Type: </label> <br>
			<select name="question-type-select" id="question-type-select">
				<option value = "0" selected>Choose a type</option>
				{% for q_type in q_types%}
				<option value = "{{q_type.type_int}}">{{q_type}}</option>	
				{% endfor %}
			</select>
		</p>
		<p id="single-answer" class="dependOnAnswer">
			<label class="bold" for="answer">Answer: </label><br>
			<textarea name="answer" rows="2" cols="41"></textarea>
		</p>
		<p id="add-answer" class="dependOnAnswer">
			<label class="bold" for="answer-input">Add Answer: </label><br>
			<textarea name="answer-input" rows="2" cols="41"></textarea>
			<br>
			<input name="correctRadio" type="radio" value="" checked ><label>Wrong</label>
			<input name="correctRadio" type="radio" value="checked" ><label>Correct</label>
			<br>
			<input type="button" id="add-answer-button" value="Add"/>
		</p>
		<p id="answers-added" class="dependOnAnswer">
			<label class="bold">Answers: </label>
			<div id="answers-added-div" class="dependOnAnswer">
			</div>
		</p>
		<p>
			<input type="submit" value="Suggest question" id="add-suggested-question"/>
			<input type="button" value="Cancel" id="cancel-suggested-question"/>
		</p>
		<input name="answer-count" type="hidden" id="answer-count" value="0">
		<input name="correct-answers" type="hidden" id="correct-answers" value="">
		<input name="wrong-answers" type="hidden" id="wrong-answers" value="">
		<input name="exercise-id" type="hidden" id="exercise-id" value="">
	</form>
</div><!-- suggest_question_container-->
</div><!-- right-container -->
</div><!-- video_container -->
<!-- end of topic/lesson/view.html -->
{% endblock %}
