{% extends "base-moderator.html" %}
{% load i18n %}

{% block title %}
NomadEDU - {% trans submit|upper %}
{% endblock %}

{% block js %}
<script src="/media/js/open-university-moderators.js"></script>
<script type="text/javascript" src="/media/js/tinymce/jscripts/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript">
tinyMCE.init({
        // General options
        mode : "textareas",
        theme : "advanced",
        plugins : "autolink,lists,spellchecker,pagebreak,style,layer,table,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template",

        // Theme options
        theme_advanced_buttons1 : "bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,|,formatselect,fontselect,fontsizeselect,|,link,unlink,forecolor,|,sub,sup,charmap,",
        theme_advanced_buttons2 : "",
        theme_advanced_toolbar_location : "top",
        theme_advanced_toolbar_align : "left",
        theme_advanced_resizing : true,

        // Skin options
        skin : "default",
        skin_variant : "silver",

        // Example content CSS (should be your site CSS)
        content_css : "css/example.css",

        // Drop lists for link/image/media/template dialogs
        template_external_list_url : "js/template_list.js",
        external_link_list_url : "js/link_list.js",
        external_image_list_url : "js/image_list.js",
        media_external_list_url : "js/media_list.js",

        // Replace values for the template plugin
        template_replace_values : {
                username : "The New Media Open University",
                staffid : "9999"
        }
});
</script>
{% endblock %}

{% block content %}
<div id="create_topic_container">
	<form method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		<ul>
		<input type="hidden" name="id" value="{{form.instance.id}}"/>
		{{form.as_ul}} 
		</ul>
		<br/>
        {% trans Alias %}

        <ul>
        {{form.alias_nested.as_ul}}
        </ul>
		<br/>
		<div class="questions-for-this-exercise">{% trans "Questions for this exercise" %}:</div>
		<div id="add-exercise">
            <a href="" onclick="addFormFormSet('formset_cnt', 'exercise_question_set'); return false;">{% trans " + Add another question" %}</a>   
        </div> <!-- End #add-exercise -->      


		{{form.formset.management_form}}
		<div id="formset_cnt" class="formset_container">
		{% for sform in form.formset %}
		
			<div class="form_form_set">
			{%for hidden in sform.hidden_fields%}
			{{hidden}}
			{% endfor%}
				<ul>
			{{ sform.as_ul }}
				</ul>
			</div>
		{% endfor %}
		</div>
		<div style="width:100%;display:block;float:right">
			<input type="submit" value="{% trans submit %}" />
		</div>
	</form>
</div>
{% endblock %}
