{% extends "base-moderator.html" %}
{% load translate %}
{% load i18n %}
{% load pagination_tags %}

{% block title %}
NomadEDU - {% trans "Exercises list" %}
{% endblock %}

{% block grey_wrapper %}
{% trans "Exercises list" %}
{% endblock %}

{% block content %}
	<!--<a class="form_menu" href="./add"><img src="/media/img/icon_addlink.gif" title="{% trans "Add exercise" %}"></img></a>-->
	<table>
        <thead>
            <tr>
                <th>{% trans "name" %}</th>
                <th>{% trans "desc" %}</th>
                <th>{% trans "created date" %}</th>
                <th>{% trans "lesson" %}</th>
                <th>{% trans "bonus points" %}</th>
                <th>{% trans "number of questions" %}</th>
                <th>{% trans "view questions" %}</th>
                <th>{% trans "Functions" %}</th>
                <th>{% trans "available_translations" %}</th>
            </tr>
            {% for e in exercises %}
            <tr>
                <td><a href="../{{ e.alias }}/">{% t9n e "name"%}</a></td>
                <td>{% t9n e "description"%}</td>
                <td>{{e.created_date}}</td>
                <td>{% t9n e.lesson "name" %}</td>
                <td>{{e.bonus_points}}</td>
                <td>{{e.questions.all|length}}</td>
                <td><a href="../{{ e.alias }}/questions/">{% trans "View Questions" %}</a></td>
                <td>
                    <a href="../{{ e.alias }}/edit/"><img src="/media/img/icon_changelink.gif" title="{% trans "edit" %}"></img></a>
                    <a href="../{{ e.alias }}/remove/"><img src="/media/img/icon_deletelink.gif" title="{% trans "delete" %}"></img></a>
                    <a href="../{{ e.alias }}/translate/"><img src="/media/img/icon_translate.png" title="{% trans "translate" %}"></img>
                </td>
                <td>{%for at in e.get_available_translation_languages %} {{at.code}} {%endfor%}</td>
                <td></td>

            </tr>
            {% endfor %}
        </thead>
    </table>
	
{% endblock %}
