{% extends "base.html" %}
{% load i18n %}

{% block title %}
Open University - {% trans submit|upper %}
{% endblock %}

{% block grey_wrapper %}
{% trans submit|upper%}
{% endblock %}

{% block js %}
{% endblock %}

{% block content %}
<div id="create_topic_container">
	<form method="POST">
		{% csrf_token %}
		<ul>
		{{form.as_ul}}
		</ul>
		
		<input type="submit" value="{{submit}}" />
	</form>
</div>
{% endblock %}