{% extends "base-moderator.html" %}
{% load i18n %}
<!-- start of teachers.html -->

{% block title %}
NomadEDU - {% trans "Moderator" %}
{% endblock %}

{% block content %}
<div id="button-container">
	<a href="{% url subject_list %}">
		<div class="button-left">{% trans "Subjects" %}</div>
	</a>
</div>    
<!-- end of teachers.html -->
{% endblock %}
