{% extends "base.html" %}
{% load translate %}
{% load i18n %}

{% block title %}
NomadEDU - {% trans "Lesson list" %}
{% endblock %}

{% block grey_wrapper %}
{% trans "Lesson list"%}
{% endblock %}

{% block content %}
	<a class="form_menu" href="./add"><img src="/media/img/icon_addlink.gif" title="{% trans "Add lesson" %}"></img></a>
	<a class="form_menu" href="../"><img src="/media/img/icon_backlink.png" title="{% trans "Back"%}"></img></a>
	<table>
		<thead>
			<form id="filter_subject_list" action="." method="GET">
				<tr>
					<th><input type="text" name="name"/></th>
					<th><input type="text" name="desc"/></th>
					<th><input type="text" name="topic"/></th>
					<th></th>
					<th>
						<select name="lang">
							<option value="">----</option>
							{% for lang in languages %}
							<option value="{{lang.code}}">{{lang.code}}</option>
							{% endfor %}
						</select>
					</th>
					<th><input type="submit" value="{% trans 'Filter' %}" /></th>
				</tr>
			</form>
			<tr>
				<th>{% trans "name" %}</th>
				<th>{% trans "desc" %}</th>
				<th>{% trans "topic" %}</th>
				<th>{% trans "Functions" %}</th>
				<th>{% trans "available_translations" %}</th>
			</tr>
			{% for l in lessons %}
			<tr>
				<td>{% t9n l "name"%}</td>
				<td>{% t9n l "description"%}</td>
				<td>{% t9n l.topic "name" %}</td>
				<td>
					<a href="./edit/{{l.id}}/"><img src="/media/img/icon_changelink.gif" title="{% trans "edit" %}"></img></a>
					<a href="./remove/{{l.id}}/"><img src="/media/img/icon_deletelink.gif" title="{% trans "delete" %}"></img></a>
					<a href="./{{l.id}}/"><img src="/media/img/icon_view.png" title="{% trans "view" %}"></img></a>
					<a href="./translate/{{l.id}}/"><img src="/media/img/icon_translate.png" title="{% trans "translate" %}"></img></a>
				</td>
				<td>{%for at in l.get_available_translation_languages %} {{at.code}} {% endfor %}</td>
			</tr>
			{% endfor %}
		</thead>
	</table>
	
{% endblock %}
