{% extends "base.html" %}
{% load translate %}
{% load i18n %}

{% block title %}
Open University - {% trans "Exercises list" %}
{% endblock %}

{% block grey_wrapper %}
{% trans "Exercises list" %}
{% endblock %}

{% block content %}
	<a class="form_menu" href="./add"><img src="/media/img/icon_addlink.gif" title="{% trans "Add exercise" %}"></img></a>
	<a class="form_menu" href="../"><img src="/media/img/icon_backlink.png" title="{% trans "Back"%}"></img></a>
	<table>
		<thead>
			<form id="filter_subject_list" action="." method="GET">
				<tr>
					<th><input type="text" name="name"/></th>
					<th><input type="text" name="desc"/></th>
					<th></th>
					<th><input type="text" name="lesson"/></th>
					<th><input type="text" name="bonus_points"/></th>
					<th></th>
					<th></th>
					<th></th>
					<th>
						<select name="lang">
							<option value="">----</option>
							{% for lang in languages %}
							<option value="{{lang.code}}">{{lang.code}}</option>
							{% endfor %}
						</select>
					</th>
					<th><input type="submit" value="{% trans 'Filter' %}" /></th>
				</tr>
			</form>
			<tr>
				<th>{% trans "name" %}</th>
				<th>{% trans "desc" %}</th>
				<th>{% trans "created date" %}</th>
				<th>{% trans "lesson" %}</th>
				<th>{% trans "bonus points" %}</th>
				<th>{% trans "number of questions" %}</th>
				<th>{% trans "view questions" %}</th>
				<th>{% trans "Functions" %}</th>
				<th>{% trans "available_translations" %}</th>
			</tr>
			{% for e in exercises %}
			<tr>
				<td>{% t9n e "name"%}</td>
				<td>{% t9n e "description"%}</td>
				<td>{{e.created_date}}</td>
				<td>{% t9n e.lesson "name" %}</td>
				<td>{{e.bonus_points}}</td>
				<td>{{e.questions.all|length}}</td>
				<td><a href="./{{e.id}}/question">{% trans "View Questions" %}</a></td>
				<td>
					<a href="./edit/{{e.id}}"><img src="/media/img/icon_changelink.gif" title="{% trans "edit" %}"></img></a>
					<a href="./remove/{{e.id}}"><img src="/media/img/icon_deletelink.gif" title="{% trans "delete" %}"></img></a>
					<a href="./{{e.id}}/"><img src="/media/img/icon_view.png" title="{% trans "view" %}"></img></a>
					<a href="./translate/{{e.id}}/"><img src="/media/img/icon_translate.png" title="{% trans "translate" %}"></img>
				</td>
				<td>{%for at in e.get_available_translation_languages %} {{at.code}} {%endfor%}</td>
				<td></td>

			</tr>
			{% endfor %}
		</thead>
	</table>
	
{% endblock %}
