{% extends "base.html" %}
{% load translate %}
{% load i18n %}

{% block title %}
Open University - {% trans "Answer list" %}
{% endblock %}

{% block grey_wrapper %}
{% trans "Answer list" %} of question "{% t9n q "question" %}"
{% endblock %}

{% block content %}
	<a class="form_menu" href="./add"><img src="/media/img/icon_addlink.gif" title="{% trans "Add answer" %}"></img></a>
	<a class="form_menu" href="../../"><img src="/media/img/icon_backlink.png" title="{% trans "Back"%}"></img></a>
	<table>
		<thead>
			<tr>
				<th>{% trans "answer" %}</th>
				<th>{% trans "is correct" %}</th>
				<th>{% trans "Functions" %}</th>
				<th>{% trans "available_translations" %}</th>
				<th>{% trans "translate" %}</th>
			</tr>
			{% for a in answers %}
			<tr>
				<td>{{ a.answer }}</td>
				<td>{{ a.is_correct }}</td>
				<td>
					<a href="edit/{{a.id}}/"><img src="/media/img/icon_changelink.gif" title="{% trans "Edit" %}"></img></a>
					<a href="remove/{{a.id}}/"><img src="/media/img/icon_deletelink.gif" title="{% trans "Delete" %}"></img></a>
				</td>
				<td>not implemented yet</td>
				<td>not implemented yet</td>
			</tr>
			{% endfor %}
		</thead>
	</table>
	
{% endblock %}