{% extends "base.html" %}
{% load i18n %}
{% load translate %}

{% block title %}
Open University - {% trans "Topic list" %}
{% endblock %}

{% block grey_wrapper %}
{% trans "Topic list" %}
{% endblock %}

{% block content %}
	<a class="form_menu" href="../topic/add/"><img src="/media/img/icon_addlink.gif" title="{% trans "Add topic"%}"></img></a>
	<a class="form_menu" href="../"><img src="/media/img/icon_backlink.png" title="{% trans "Back"%}"></img></a>
	<!--
	</br>
	<div id="filter_topic">
		<form id="filter_topic_list" action="." method="GET">
			<b>{% trans "Filter Topics List by: " %}</b>
			<label for="lang">{% trans "available translations" %}</label>
			<select name="lang">
				<option value="">----</option>
				{% for lang in languages %}
				<option value="{{lang.code}}">{{lang.code}}</option>
				{% endfor %}
			</select>
			<label for="name">{% trans "subject name" %}( contains )</label>
			<input type="text" name="name"/>
			<label for="desc">{% trans "subject description" %}( contains )</label>
			<input type="text" name="desc"/>
			<label for="age_group">{% trans "age group" %}( contains )</label>
			<input type="text" name="age_group"/>
			<input type="submit" value="{% trans 'Filter' %}" />
		</form>
	</div>
	</br>
	-->
	<table>
		<thead>
			<form id="filter_subject_list" action="." method="GET">
				<tr>
					<th><input type="text" name="name"/></th>
					<th><input type="text" name="desc"/></th>
					<th>
						<select name="age_group">
							<option value="">----</option>
							{% for age in age_groups %}
							<option value="{{age.age}}">{{age.age}}</option>
							{% endfor %}
						</select>
					</th>
					<th><input type="text" name="subject"/></th>
					<th></th>
					<th>
						<select name="lang">
							<option value="">----</option>
							{% for lang in languages %}
							<option value="{{lang.code}}">{{lang.code}}</option>
							{% endfor %}
						</select>
					</th>
					<th><input type="submit" value="{% trans 'Filter' %}" /></th>
				</tr>
			</form>
			<tr>
				<th>{% trans "name" %}</th>
				<th>{% trans "desc" %}</th>
				<th>{% trans "age group" %}</th>
				<th>{% trans "subject" %}</th>
				<th>{% trans "Functions" %}</th>
				<th>{% trans "available_translations" %}</th>
			</tr>
			{% for t in topics %}
			<tr>
				<td>{%t9n t "name"%}</td>
				<td>{%t9n t "description"%}</td>
				<td>{{t.age_group}}</td>
				<td>{%t9n t.subject "name"%}</td>
				<td>
					<a href="./edit/{{t.id}}/"><img src="/media/img/icon_changelink.gif" title="{% trans "edit" %}"></img></a>
					<a href="./remove/{{t.id}}/"><img src="/media/img/icon_deletelink.gif" title="{% trans "delete" %}"></img></a>
					<a href="./{{t.id}}/"><img src="/media/img/icon_view.png" title="{% trans "view" %}"></img></a>
					<a href="./translate/{{t.id}}/"><img src="/media/img/icon_translate.png" title="{% trans "translate" %}"></img></a>
				</td>
				<td>{%for at in t.get_available_translation_languages %} {{at.code}} {%endfor%}</td>
			</tr>
			{% endfor %}
		</thead>
	</table>
	
{% endblock %}