{% extends "base.html" %}
{% load i18n %}
{% load translate %}
{% load pagination_tags %}


{% block content %}
    {{ msg }}
    <a href="../">{% trans "Back" %}</a>
    <table>
        <thead>
        	<form id="suggested_question_list" action="." method="GET">
				<tr>
					<th><input type="text" name="name"/></th>
					<th><input type="text" name="points"/></th>
					<th><input type="text" name="submitted_by"/></th>
					<th>
						<input type="radio" name="is_published" value="1"/> True
						<input type="radio" name="is_published" value="0"/> False
					</th>
					<th></th>
					<th></th>
					<th><input type="submit" value="{% trans 'Filter' %}" /></th>
				</tr>
			</form>
            <tr>
                <!--<th>{% trans "id" %}</th>-->
                <th>{% trans "Question" %}</th>
                <!--<th>{% trans "Answer_type" %}</th>-->
                <th>{% trans "Points" %}</th>
                <th>{% trans "Submitted by" %}</th>
                <th>{% trans "Is published" %}</th>
                <th>{% trans "Edit" %}</th>
                <th>{% trans "Delete" %}</th>

            </tr>   
			{% autopaginate questions_submitted%}
            {% for q in questions_submitted %}
            <tr>
                <!--<td>{{q.id}}</td>-->
                <td>{{q.question}}</td>
               <!-- <td>{{q.answer_type}}</td>-->
                <td>{{q.points}}</td>
                <td>{{q.submitted_by}}</td>
                <td>{{q.is_published}}</td>
                <td><a href="./edit/{{q.id}}">edit</a></td>
                <td><a href="./remove/{{q.id}}">remove</a></td>
            </tr>
            {% endfor %}
			{% paginate %}
        </thead>
    </table>
    
{% endblock %}