{% extends "base.html"%}
{% load i18n %}
{% block content %}
    <a href="../questions/add">{% trans "Create suggest question" %} </a>
	<a href="../../">{% trans "Back to List" %} </a>
    
	


{% endblock %}

