{% load i18n %}
<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{% block title %} NomadEDU {% endblock%}</title>
<link rel="stylesheet" type="text/css" media="screen, projection" href="/media/css/main.css"/>
<link rel="stylesheet" type="text/css" media="screen, projection" href="/media/css/estilos.css"/>
<link rel="stylesheet" type="text/css" media="screen, projection" href="/media/css/open-university.css"/>
<link rel="stylesheet" type="text/css" media="screen, projection" href="/media/css/slider/nivo-slider.css" />
<link rel="stylesheet" type="text/css" media="screen, projection" href="/media/css/slider/style.css" />
<link rel="stylesheet" type="text/css" media="screen, projection" href="/media/css/ui-lightness/jquery-ui-1.8.13.custom.css"/>

{% block css %}
{% endblock %}
<script src="/media/js/jquery-1.4.3.min.js"></script>
<script src="/media/js/jquery-ui.min.js"></script>
<script src="/media/js/open-university.js"></script>
<script src="/media/js/open-university-moderators.js"></script>
<script src="/media/js/cufon-yui.js"></script>
<script src="/media/js/HeliosCondLight_Mon_400.font.js"></script>
<!--- List Zebra style :) -->

<script type="text/javascript">
  $(function(){
    $('.zebra li:even').addClass('stripe-even');
    $('.zebra li:odd').addClass('stripe-odd');
  });
</script>


<!--- Home Page Slide Show -->

<script src="/media/js/jquery.nivo.slider.pack.js"></script>

<script type="text/javascript">
function setcombo_lang()
{
	url = 'url(/media/img/usa.gif)';
	if ("{{request.session.django_language}}" == "en-us")
	{
     	url = 'url(/media/img/usa.gif)';
		
	}
	else if ("{{ request.session.django_language}}" == "mn")
	{
     	url = 'url(/media/img/mn.png)';
	}
	else if ("{{ request.session.django_language}}" == "ru")
	{
     	url = 'url(/media/img/rus.gif)';
	}
	$('#langselect').css('background', url);
	$('#langselect').css('background-repeat', 'no-repeat');
	$('#langselect').css('height', '20');
	$('#langselect').css('width', '40');
}
</script>

<script type="text/javascript">

$(document).ready(function() {
	setcombo_lang();
});
	
$(window).load(function() {
    $('#slider').nivoSlider({
		 effect:'fade', // Specify sets like: 'fold,fade,sliceDown'
    	directionNavHide:false,
		pauseTime:5000,
		keyboardNav:true, // Use left & right arrows
        pauseOnHover:true, // Stop animation while hovering
    });
});
</script>


<!-- Begin Using Cufon -->
<script type="text/javascript">
			Cufon.replace('#nav', {hover: {color: '#ffffff'} }); 
			Cufon.replace('#topbar', {hover: {color: '#000'} });
			Cufon.replace('#grey-wrapper');  
			Cufon.replace('h3');
		
			
			
</script>
<!-- End Using Cufon -->

{% block js %}
{% endblock %}
</head>
<body>

<!-- start header-->
<div id="header-wrapper">
	<div class="fixed">	<!-- Fixed Layout-->
    	 <div id="logo">
        	<a href="/">
           	 	<img src="/media/img/open-university-logo.png"  height="80" width="260"  id="logo-mark" alt="logo" />
       	 	</a>
   		</div>
    	<div id="topbar"><!-- Begin Topbar-->
        		<a href="{% url index %}">{% trans "Home" %}</a>
        		<a href="{% url moderator %}">{% trans "Moderate" %}</a>
				
				{% if "fff" in request.META.HTTP_USER_AGENT|lower %}
				<a href="{% url set_lang %}?next={{request.path}}&lang=en-us">EN</a>
				<a href="{% url set_lang %}?next={{request.path}}&lang=mn">МОН</a> 
				<a href="{% url set_lang %}?next={{request.path}}&lang=ru">РУС</a> 
				{% else %}
				<form id="locale" enctype="multipart/form-data" method="get" action="{% url set_lang %}">
					<select id="langselect" name="lang" onChange="submit_lang('locale');">
						<option id="en-select" value="en-us" 
						"{%if request.session.django_language == "en-us" %}" selected=selected "{%endif%}" ></option>
						<option id="mn-select" value="mn" 
						"{%if request.session.django_language == "mn" %}" selected=selected "{%endif%}" ></option>
						<option id="ru-select" value="ru" 
						"{%if request.session.django_language == "ru" %}" selected=selected "{%endif%}" ></option>
					</select>
					<input name="next" value="{{request.path}}" type="hidden"></input>
            	</form>
				{% endif %}
					{% if user.is_authenticated %}
					{% trans "Logged in" %}: {{ user.username }} 
            
				 (<a href="{% url profiles_profile_detail user.username %}">{% trans "Account" %}</a> | 
				 <a href="{% url auth_logout %}">{% trans "Log out" %}</a>) 
					{% else %}
				{% if "logout" or "register" in request.path %}
				<a href="{% url auth_login %}">{% trans "Log in" %}</a>
           		{% else %}
				<a href="{% url auth_login %}?next={{request.path}}">{% trans "Log in" %}</a>
				{% endif %}
			{% endif %}
	   		 {% block header %}
       		 {% endblock %}
    	</div><!-- End Topbar -->
        <div class="clear"></div>
        <div id="nav"> <!-- Begin Navigation -->
        	<ul>
                <li><a href="/about">{% trans "About" %}</a></li>
                <li><a href="/topics">{% trans "Topics" %}</a></li>
		 		<li><a href="/virtualclassroom">{% trans "Virtual Classroom" %}</a></li>
				<li><a href="/feedback">{% trans "Feedback" %}</a></li>
				 <li><a href="/evaluation">{% trans "Evaluation" %}</a><li>
   		 	</ul>
		</div> <!-- End Navigation -->
        
     </div>  <!-- End Fixed Layout -->
     

</div> <!-- End Header-wrapper-->

	<div id="grey-wrapper" ><!-- Greay Wrapper-->
    	<div class="fixed"> 
	{% block grey_wrapper %} 
        {% for item in ou_mod_breadcramb %}
            {% ifnotequal forloop.counter 1 %}
                -
            {% endifnotequal %}
            <a href="{{item.href}}">{% trans item.value %}</a>
        {% endfor%}
    {% endblock %} </div>
	</div> <!-- End Grey Wrapper-->
  
<div id="wrapper">
	

<!-- start main-->
    <div id="main">
	{%block content%}
	{%endblock%}

    </div>
	        


</div>
</body>

<div id="footer-text">
    <div class="fixed">
        <div class="left">
        <ul>
        </ul>
        <ul>
        </ul>
        <ul>
        </ul>
        </div>
    </div>
</div>
</html>
