{% extends "base.html" %}
{% load i18n %}

{% block js %}
<script type="text/javascript">
$(function() {
		$( "#id_birthdate" ).datepicker();
		$( "#id_birthdate" ).datepicker( "option", "dateFormat", "yy-mm-dd" );
		$( "#id_birthdate" ).datepicker( "setDate" , "1990-1-1" )
	});
</script>
{% endblock %}

{% block content %}
<form method="post" action=".">{% csrf_token %}
  {{ form.as_p }}

  <input type="submit" value="{% trans 'Submit' %}" />
</form>
{% endblock %}
