{% extends "base.html" %}
{% load i18n %}

{% block title %}
NomadEDU - {% trans "profile" %}
{% endblock %}

{% block grey_wrapper %}
{% trans "Profile" %}
{% endblock %}

{% block js %}
<script type="text/javascript">
$(function() {
		var get_divisions = function(age) {
			var url = "{% url profiles_get_ajax %}" + "?age_group=" + age +"&division=true"
			$.get(url, function(data){
				console.log(data);
				$("#id_division").linkselect("replaceOptions", data["division"]);
				$('#id_division').linkselect("disable",false);
			});
		};
		$( "#id_birthdate" ).datepicker({ changeYear: true, yearRange:"c-80:c", dateFormat: 'yy-mm-dd' });
		//find all form with class jqtransform and apply the plugin
    	$("form.jqtransform").jqTransform();
    	$('#id_age').linkselect({style: "selectbox",
    							 change: function (li, value, text){
    							 	console.log(value);
    							 	get_divisions(value);
    							 }});
    	$('#id_division').linkselect({style: "selectbox"});
    	$('#id_division').linkselect("disable",true);
    	$('#cancel-button').bind('click', function() {
    		window.history.go(-1);
		});
		
		{% if is_moderator %}
		var get_divisions_topics = function(age) {
			var url = "{% url profiles_get_ajax %}" + "?age_group=" + age +"&division=true&topic=true"
			$.get(url, function(data){
				console.log(data);
				$("#division-select").linkselect("replaceOptions", data["division"]);
				$('#division-select').linkselect("disable",false);
				$('#topic-select').linkselect("replaceOptions", data["topic"]);
				$('#topic-select').linkselect("disable",false);
				$('#add-topic-taught-button').button( "option", "disabled", false );
			});
		};
		var remove_topic = function(event) {
			event.preventDefault();
			var target = $(event.target)
			var tt_id = target.attr("data-tt-id");
			var url = "{% url teacher_remove_course %}";
			$.post(url, {id:tt_id}, function(data){
				if(data.success){
					target.parents("tr").remove();
				}
			});
		};
		$('.linkselect').linkselect({style: "selectbox"});
		$('.button-link').button();
		$('#age-group-select').linkselect({style: "selectbox",
							 change: function (li, value, text){
							 	console.log(value);
							 	get_divisions_topics(value);
							 }});
    	$('#division-select').linkselect("disable",true);
		$('#topic-select').linkselect("disable",true);
		$('#add-topic-taught-button').button( "option", "disabled", true );
		$('#add-topic-taught-button').bind('click', function() {
			var url = "{% url teacher_add_course %}";
			$.post(url, $('#topic-taught-form').serialize(), function(data){
				console.log(data);
				var new_row = '<tr><td>'+data.topic+'</td><td>'+data.division+'</td><td><a href="#" data-tt-id="'+data.id+'" class="remove-topic-taught-button">Remove</a></td></tr>';
				$('#topics_taught_list > tbody:last').append(new_row).find('.remove-topic-taught-button').bind('click', remove_topic);
			});
		});
		$('.remove-topic-taught-button').bind('click', remove_topic);
		{% endif %}
	});
</script>
<script type='text/javascript' src='/media/js/jquery.jqtransform.js'></script>
<script type='text/javascript' src='/media/js/jquery.linkselect.min.js'></script>
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" media="screen, projection" href="/media/css/jqtransform.css"/>
<link rel="stylesheet" type="text/css" media="screen, projection" href="/media/css/jquery.linkselect.style.select.css"/>
<link rel="stylesheet" type="text/css" media="screen, projection" href="/media/css/edit_profile.css"/>

<div>
	<div id="basic-info">
		<form id="profile-form" class="jqtransform" method="post" action=".">{% csrf_token %}
			<table>
				{{ form.as_table }}
				<tr>
					<td id="profile-edit-button-row" colspan="2">
						<input type="submit" value="{% trans 'Submit' %}" />
						<input id="cancel-button" type="button" value="{% trans 'Cancel' %}" />
					</td>
				</tr>
			</table>
		</form>
	</div>
	{% if is_moderator %}
	<div id="teacher_topic">
		<h2>Topics Taught</h2>
		<table id="topics_taught_list">
			<thead>
				<tr><th>Name</th><th>Division</th><th>&nbsp;</th></tr>
			</thead>
			<tbody>
				{% for tt in topic_teacher%}
				<tr><td>{{tt.topic}}</td><td>{{tt.division}}</td><td><a href="#" data-tt-id="{{tt.id}}" class="remove-topic-taught-button">Remove</a></td></tr>
				{% endfor %}
			</tbody>
		</table>
		<div id="add-topic-taught" class="dropdowns">
			<h4> Add a new topic that you teach </h4>
			<form id="topic-taught-form" method="post">
				{% csrf_token %}
				<span class="multi-select">
					<select id="age-group-select" name="age_group">
						<option value = "0">All Grades</option>
						{% for a in all_age_groups %}
						<option value = "{{ a.age }}">{{a}}</option>	
						{% endfor %}	
					</select>
				</span>
				<span class="multi-select">
					<select id="division-select" name="division" class="linkselect">
						<option value = "0">First select grade</option>
					</select>
				</span>
				<span class="multi-select">
					<select id="topic-select" name="topic" class="linkselect">
						<option value = "0">First select grade</option>
					</select>
				</span>
				<a id="add-topic-taught-button" class="button-link">Add</a>
			</form>
		</div>
	</div>
	{% endif %}
</div>

{% endblock %}
