{% load translate %}
{% load i18n %}

<table id="lesson-table" class="display"> 
	<thead> 
		<tr> 
		    <th>Lesson</th> 
		    <th>Grade</th> 
		    <th>Started Date</th> 
		    <th>Finished Date</th> 
		    <th>Points earned</th>
		    <th>View Report</th> 
		</tr> 
	</thead> 
	<tbody> 
		{% for l in lessons %}	
		<tr class="{{ l.lesson.is_completed|yesno:"complete,incomplete" }}">
		    <td><a href="/topics/{{l.lesson.topic.alias}}/{{l.lesson.alias}}/">{% t9n l.lesson "name" %}</a></td> 
		    <td>{{l.lesson.topic.age_group.age}}</td> 
		    <td>{{l.lesson.started_date}}</td> 
		    <td>{{l.lesson.finished_date}}</td> 
		    <td>{{l.lesson.points}}</td> 
		    <td class="last-column"><a href='{% url report_view user_id=user_id account_lesson_id=l.pk %}' target="_blank">View</a></td>
		</tr> 
		{% endfor %} 
	</tbody> 
</table> 