{% extends "base.html" %}

{% load translate %}
{% load i18n %}

{% block js %}
	<script type='text/javascript'>
		$(document).ready(function (){
			console.log("yay");
			$('.linkselect').linkselect({style: "selectbox"});
			
			function initialize_datatable(){
				$("#lesson-table").dataTable({
					"bJQueryUI": true,
			        "bPaginate": false,
			        "bLengthChange": false,
			        "bFilter": true,
			        "bSort": true,
			        "bInfo": true,
			        "bAutoWidth": true,
			        "asStripClasses": null,
			        "aoColumnDefs": [{ "bSortable": false, "aTargets": [ 5 ] }],
			        //"sScrollY": "400px"
			    });
			};
			initialize_datatable();
			$('.button-link').button();
			var fetch_lessons = 
			$('#filter-button').bind('click', function() {
				var url = "?"+$('#lesson-filter-form').serialize();
				console.log(url);
				$.get(url, function(data){
					$('#lessons-div').empty().html(data);
					initialize_datatable();
				});
			});
			{% if is_moderator%}
			$('#student-select').linkselect({style: "selectbox",
							 change: function (li, value, text){
							 	console.log(value);
							 	$('#filter_user_id').val(value);
							 	$('#filter-button').trigger('click');
							 	$('#dropdowns').removeClass("hidden");
							 }});
			$('#dropdowns').addClass("hidden");
			{% endif %}
		});
	</script>
	<script type='text/javascript' src='/media/js/jquery.linkselect.min.js'></script>
	<script type='text/javascript' src='/media/js/jquery.dataTables.min.js'></script>
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" media="screen, projection" href="/media/css/profiles.css"/>
<link rel="stylesheet" type="text/css" media="screen, projection" href="/media/css/jquery.linkselect.style.select.css"/>

<link rel="stylesheet" type="text/css" media="screen, projection" href="/media/css/jquery.dataTables_themeroller.css"/>
<div id="user-details">
	<div id="profile-img">
		{% if profile.gender %}
			<img src="media/img/profiles/blank_boy.png" alt="Default image">
		{% else %}
			<img src="media/img/profiles/blank_girl.png" alt="Default image">
		{% endif %}
		<br><a href="{% url auth_password_change %}">{% trans "Change password" %}</a>
		<br><a href="{% url profiles_edit_profile %}">{% trans "Edit Profile" %}</a>
	</div>
	<div id="profile-info"> 
		<p class="ui-state-default"> {{ profile.user.get_full_name }}</p>
		<p>Location: {{ profile.location }}</p>
		<p>Age:	{{ profile.get_age }}</p>
		{% if current_division %}
		<p>Grade:  {{current_division.division.age.age}},Division {{current_division.division.name}}</p>
		{% endif %}
		<p>Email: {{ profile.user.email }}</p>
		{% if is_moderator %}
		<p>
			Topics taught:
			{% for tt in topic_teacher%}
				{{tt.topic}} {{tt.division}} {% if not forloop.last %} , {% endif %}
			{% endfor %}
		</p>
		{% endif %}
	</div>
	{% if not is_moderator %}
	<div id="userStats">
		<div class="stats">
			<h2><img width="32" height="32" alt="" src="/media/img/profiles/icon-statsCheckin.png">{{stats_lessons_viewed}}</h2>
			<span class="translate">Lessons viewed</span>
		</div>
		<div class="stats">
			<h2><img width="32" height="32" alt="" src="/media/img/profiles/icon-statsDays.png">{{stats_exercises_completed}}</h2>
			<span class="translate">Exercises completed</span>
		</div>
		<div class="stats">
			<h2><img width="32" height="32" alt="" src="/media/img/profiles/icon-statsDones.png">{{stats_questions_submitted}}</h2>
			<span class="translate">Questions submitted</span>
		</div>
		<div class="stats statsLast"></div>
   </div>
   {% else %}
   <div id="student-div">
   		<p>Choose a student to view his/her report</p>
   		<select name="student-select" id="student-select">
			<option value = "0">Choose student</option>
			{% for s in students%}
			<option value = "{{s.student.user.id}}">{{s.student.user.get_full_name}}</option>	
			{% endfor %}
		</select>
   </div>
   {% endif %}
</div>



<div id="dropdowns">
	<form id="lesson-filter-form" method="get">
		<select name="age_group" class="linkselect">
			<option value = "0">All Grades</option>
			{% for a in all_age_groups %}
			<option value = "{{ a.age }}">{{a}}</option>	
			{% endfor %}
		</select>
		
		<select name="subject_id" class="linkselect">
			<option value = "0">All Subjects</option>
			{% for s in all_subjects %}
			<option value = "{{ s.id }}">{{s}}</option>	
			{% endfor %}
		</select>
		<input id="filter_user_id" name="user_id" type="hidden" value="0">
		<a id="filter-button" class="button-link">Filter</a>
	</form>
</div>

<div id="lessons-div">
	{% if not is_moderator %}
	{% include 'profiles/lesson_list.html' %}
	{% endif %}
</div>
{% endblock %}
