{% extends "base-moderator.html" %}
{% load i18n %}
{% load translate %}
{% load pagination_tags %}

{% block title %}
Open University - {% trans "Topic list" %}
{% endblock %}

{% block grey_wrapper %}
{% trans "Topic list" %}
{% endblock %}

{% block content %}
	<a class="form_menu" href="./add/"><img src="/media/img/icon_addlink.gif" title="{% trans "Add topic"%}"></img></a>
	<table>
        <thead>
            <tr>
                <th>{% trans "name" %}</th>
                <th>{% trans "desc" %}</th>
                <th>{% trans "age group" %}</th>
                <th>{% trans "subject" %}</th>
                <th>{% trans "Functions" %}</th>
                <th>{% trans "available_translations" %}</th>
            </tr>
			{% autopaginate topics 5 %}
            {% for t in topics %}
            <tr>
                <td><a href="../{{ t.alias }}/">{% t9n t "name" %} </a></td>
                <td>{%t9n t "description"%}</td>
                <td>{{t.age_group}}</td>
                <td>{%t9n t.subject "name"%}</td>
                <td>
                    <a href="../{{ t.alias }}/edit/"><img src="/media/img/icon_changelink.gif" title="{% trans "edit" %}"></img></a>
                    <a href="../{{ t.alias }}/remove/"><img src="/media/img/icon_deletelink.gif" title="{% trans "delete" %}"></img></a>
                    <a href="../{{ t.alias }}/translate/"><img src="/media/img/icon_translate.png" title="{% trans "translate" %}"></img></a>
                </td>
                <td>{%for at in t.get_available_translation_languages %} {{at.code}} {%endfor%}</td>
            </tr>
            {% endfor %}
			{% paginate %}
        </thead>
    </table>
	
{% endblock %}