{% extends "base-moderator.html" %}
{% load i18n %}
{% load translate %}
{% load pagination_tags %}

{% block title %}
Open University - {% trans "Topic" %} - {% t9n c "name" %}
{% endblock %}

{% block content %}


<!-- Begin Using Cufon -->
<script type="text/javascript">
			Cufon.replace('.header-title');
			Cufon.replace('.topic-name');    	
</script>
<!-- End Using Cufon -->
<div id="topic-header">
<div class="topic-name"><span class="hide">{% trans "name" %}</span> <span>{% t9n c "name" %}</span></div>

<div class="ne_ui_content_add_button"> 
<div class="topic-add"> <a class="form_menu" href="lessons/add"> {% trans "Add lesson" %}</a> </div>
<div class="topic-edit"> <a href="./edit/">{% trans "edit" %}</a></div>
</div>
</div>


<div class="ne_ui_fields">
<div class="top-filter">

<form method="post">
    {% trans "name" %} <input type="text" name="filterName" value="{{name}}"/> {% trans "description" %}<input type="text" name="filterDescription" value="{{fdescription}}"/><input type="submit" value='{% trans "Filter"%}'>
</form>
</div>



<div class="toggle">
<div><span class="hide">{% trans "description" %}</span> <span>{% t9n c "description"%}</span></div>
<div><span class="hide">{% trans "created date" %}</span><span class="hide">{{ c.created_date }}</span></div>
<div><span class="hide">{% trans "age group" %}</span><span>{{ c.age_group }}</span></div>
</div><!-- End CLS Toggle -->
</div><!-- .ne_ui_fields -->



<span class="hide">{% trans "lessons" %}:</span>
<div class="ne_ui_subcontent_list">
<div>
    {% for l in lessons %}
<div class="ne_ui_content_item {% cycle "col1" "col2" "col3"%}">
<div class="ne_ui_button">
	<div class="header-title">
    	<a href="{{ l.alias }}/">{% t9n l "name"%}</a>
    </div>
</div>
<div class="ne_ui_content_item_data">
<div class="ne_ui_desc">
	<span class="hide">{% trans "description" %}</span><span>{% t9n l "description"%}</span>
<div>
	{% for at in l.get_available_translation_languages %} {{at.code}} {% endfor %}
</div>
</div>
<div id="footer-container">
         <div class="footer-icons">
        <a href="{{ l.alias }}/edit/"><img src="/media/img/icon_changelink.gif" title="{% trans "edit" %}"></img></a>
        <span onclick="confirm_delete('./{{l.alias}}/remove/', '{%trans "do you really want to delete this item?"%}')">
            <img src="/media/img/icon_deletelink.gif" title="{% trans "delete" %}"></img>
        </span>
        <a href="{{ l.alias }}/translate/"><img src="/media/img/icon_translate.png" title="{% trans "translate" %}"></img></a>
        </div> <!-- footer-icons -->
</div>  <!-- footer-container -->
<div class="ne_more"><a href="{{ l.alias }}/">More</a></div>
</div><!-- .ne_ui_content_item_data -->

</div><!-- .ne_ui_content_item -->
    {% endfor %}
</div>
</div><!-- .ne_ui_subcontent_list -->
{% endblock %}