{% extends "base-moderator.html" %}
{% load i18n %}

{% block js %}
<script type="text/javascript" src="/media/js/open-university-moderators.js"></script>
<script type="text/javascript" src="/media/js/tinymce/jscripts/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript">
tinyMCE.init({
        // General options
        mode : "textareas",
        theme : "advanced",
        plugins : "autolink,lists,spellchecker,pagebreak,style,layer,table,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template",

        // Theme options
        theme_advanced_buttons1 : "bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,|,formatselect,fontselect,fontsizeselect,|,link,unlink,forecolor,|,sub,sup,charmap,",
        theme_advanced_buttons2 : "",
        theme_advanced_toolbar_location : "top",
        theme_advanced_toolbar_align : "left",
        theme_advanced_resizing : true,

        // Skin options
        skin : "default",
        skin_variant : "silver",

        // Example content CSS (should be your site CSS)
        content_css : "css/example.css",

        // Drop lists for link/image/media/template dialogs
        template_external_list_url : "js/template_list.js",
        external_link_list_url : "js/link_list.js",
        external_image_list_url : "js/image_list.js",
        media_external_list_url : "js/media_list.js",

        // Replace values for the template plugin
        template_replace_values : {
                username : "The New Media Open University",
                staffid : "9999"
        }
});
</script>
{% endblock %}

{% block title %}
NomadEDU - {% trans submit|upper %}
{% endblock %}

{% block content %}
<div id="create_topic_container">
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
<ul>
<input type="hidden" name="id" value="{{form.instance.id}}"/>
    {{form.as_ul}}
</ul>
<br/>
<ul>{{form.alias_nested.as_ul}}</ul>
<br>
	{% if form.image_nested %}
<div class="questions-for-this-exercise">Image album for lesson</div>
<div id="add-exercise">
<a href="" style="display:block" onclick="addFormFormSet('image_formset_cnt', 'image_set'); return false;"><span>Add image</span></a>   
</div><!-- .add-exercise -->
        {{ form.image_nested.management_form }}
<div id="image_formset_cnt">
        {% for iform in form.image_nested %}
<div class="form_form_set">
            {% for hidden in iform.hidden_fields %}
                {{ hidden }}
            {% endfor %}
<ul>
            {{ iform.as_ul }}
</ul>
</div><!-- .form_form_set -->
        {% endfor%}
</div><!-- .image_formset_cnt -->
    {% endif %}
	
    {% if form.video_nested %}
<div class="questions-for-this-exercise">{% trans "Videos for this lesson" %}:</div>
<div id="add-exercise">
<a href="" style="display:block" onclick="addFormFormSet('video_formset_cnt', 'video_set'); return false;">
<span>{% trans "add another video" %}</span>
</a>   
</div><!-- End #add-exercise -->  
        {{ form.video_nested.management_form }}
<div id="video_formset_cnt">
        {% for vform in form.video_nested %}
<div class="form_form_set">
            {% for hidden in vform.hidden_fields %}
                {{ hidden }}
            {% endfor %}
<ul>
            {{ vform.as_ul }}
</ul>
</div><!-- .form_form_set -->	
        {% endfor%}
</div><!-- video_formset_cnt -->
    {% endif %}
    
    {% if form.pdf_nested %}
<div class="questions-for-this-exercise">{% trans "Files for this lesson" %}:</div>
<div id="add-exercise">
<a href="" style="display:block" onclick="addFormFormSet('pdf_formset_cnt', 'pdffile_set'); return false;">
<span>{% trans "add another file" %}</span>
</a>   
</div><!-- End #add-exercise -->  
        {{ form.pdf_nested.management_form }}
<div id="pdf_formset_cnt">
        {% for pform in form.pdf_nested %}
<div class="form_form_set">
            {% for hidden in pform.hidden_fields %}
                {{ hidden }}
            {% endfor %}
<ul>
            {{ pform.as_ul }}
</ul>
</div><!-- .form_form_set -->	
        {% endfor%}
</div><!-- p_formset_cnt -->
    {% endif %}
<div style="width:100%;display:block;float:right">
	<input type="submit" value="{% trans submit %}" />
</div>
</form>
</div><!-- .create_topic_container -->
{% endblock %}
