{% extends "base-moderator.html" %}
{% load translate %}
{% load i18n %}
{% load pagination_tags%}

{% block title %}
Open University - {% trans "Lesson list" %}
{% endblock %}

{% block grey_wrapper %}
{% trans "Lesson list"%}
{% endblock %}

{% block content %}
	<a class="form_menu" href="./add"><img src="/media/img/icon_addlink.gif" title="{% trans "Add lesson" %}"></img></a>
	<table>
        <thead>
            <tr>
                <th>{% trans "name" %}</th>
                <th>{% trans "desc" %}</th>
                <th>{% trans "topic" %}</th>
                <th>{% trans "Functions" %}</th>
                <th>{% trans "available_translations" %}</th>
            </tr>
            {% for l in lessons %}
            <tr>
                <td><a href="../{{ l.alias }}/">{% t9n l "name"%}</a></td>
                <td>{% t9n l "description"%}</td>
                <td>{% t9n l.topic "name" %}</td>
                <td>
                    <a href="../{{ l.alias }}/edit/"><img src="/media/img/icon_changelink.gif" title="{% trans "edit" %}"></img></a>
                    <a href="../{{ l.alias }}/remove/"><img src="/media/img/icon_deletelink.gif" title="{% trans "delete" %}"></img>
                    <a href="../{{ l.alias }}/translate/"><img src="/media/img/icon_translate.png" title="{% trans "translate" %}"></img></a>
                </td>
                <td>{%for at in l.get_available_translation_languages %} {{at.code}} {% endfor %}</td>
            </tr>
            {% endfor %}
        </thead>
    </table>
	
{% endblock %}
