{% extends "base-moderator.html" %}
{% load i18n %}
{% load translate %}

{% block title %}
Open University - {% trans "Lesson" %} - {% t9n lesson "name" %}
{% endblock %}

{% block js %}
<script type='text/javascript' src='/media/jwplayer/jwplayer.js'></script>
<script type='text/javascript' src='/media/jwplayer/swfobject.js'></script>
<script type="text/javascript" src="/media/lightbox/js/jquery.js"></script>
<script type="text/javascript" src="/media/lightbox/js/jquery.lightbox-0.5.js"></script>
<script type="text/javascript">
$(document).ready(function() {
{% for video in lesson.video_set.all %}
  jwplayer('{{video.id}}').setup({
    'flashplayer': '/media/jwplayer/player.swf',
    'id': 'playerID',
    'width': '426',
    'height': '242',
    'image': '/media/{{video.thumbnail_path}}',
    {% if video.is_localized %}
    'file': '/media/{{video.file}}',
    {% else %}
    'file': '{{video.url_path}}',
    {% endif %}
  });
{% endfor %}
});
</script>
<!-- Begin Using Cufon -->
<script type="text/javascript">
            Cufon.replace('.topic-name');       
</script>
<!-- End Using Cufon -->
{% endblock %}

{% block content %}
<form method="POST">
	<div class="topic-name">set thumbnail</div>

	{% for video in lesson.video_set.all %}
	<div id="set-thumb">
	<div class="thumb-video">
		<div id="{{video.id}}">
		</div>
	</div>
	<div class="thumb-img">
		<ul>
			{% for thumb in video.get_thumbnails %}
			<li>
				<label for="id_answer_{{thumb}}">
                <input type="radio" id="id_answer_{{thumb}}" value="{{thumb}}" name="{{video.id}}"/>
				<img width="140px" src="/media/{{thumb}}">
                </label>
			</li>
			{% endfor %}
		</ul>
	</div>
	</div>
	{% endfor %}
	
	
	<input type="submit" class="practice_submit" value="select thumb">
	
</form>
{% endblock %}
