{% extends "base-moderator.html" %}
{% load i18n %}
{% load translate %}
{% load pagination_tags %}

{% block title %}
Open University - {% trans "Lesson" %} - {% t9n c "name" %}
{% endblock %}
{% block js %}
<script type="text/javascript">
$(function() 
{
    $( "#id_created_date" ).datepicker();
    $( "#id_created_date" ).datepicker( "option", "dateFormat", "yy-mm-dd" );
    $( "#id_created_date" ).datepicker( "setDate" , "2011-1-1" );
	$( "#id_end_date" ).datepicker();
    $( "#id_end_date" ).datepicker( "option", "dateFormat", "yy-mm-dd" );
    $( "#id_end_date" ).datepicker( "setDate" , "2011-1-1" );
});
</script>
{% endblock %}
{% block content %}


<!-- Begin Using Cufon -->
<script type="text/javascript">
			Cufon.replace('.header-title');
			Cufon.replace('.topic-name');    	
</script>
<!-- End Using Cufon -->
<div id="topic-header">
<div class="topic-name"><span class="hide">{% trans "name" %}</span> <span>{% t9n c "name" %}</span></div>

<div class="ne_ui_content_add_button"> 
<div class="topic-add"> <a class="form_menu" href="exercises/add"> {% trans "Add exercise" %}</a> </div>
<div class="topic-edit"> <a href="./edit/">{% trans "edit" %}</a></div>
<!--{% if c.videos_has_thumbs %}
<div class="topic-edit"> <a href="./set-thumb/">{% trans "set thumbs" %}</a></div>
{% endif %}-->
</div>
</div>


<div class="ne_ui_fields">

<div class="top-filter">
<form method="post">
    {% trans "created date" %}<input type="text" name="created_date" id="id_created_date" value="{{createddate}}" readonly="readonly"/> - <input type="text" name="end_date" id="id_end_date" value="{{enddate}}" readonly="readonly"/> {% trans "bonus points" %} {{formExer.bonus_points}}<input type="submit" value='{% trans "Filter" %}'>
</form>
</div>
<div class="toggle">
<div><span class="hide">{% trans "name" %}</span><span class="hide">{% t9n c "name" %}</span></div>
<div><span class="hide">{% trans "description" %}</span><span>{% t9n c "description" %}</span></div>
</div> <!-- End CLS Toggle -->
</div><!-- .ne_ui_fields -->

	{% trans "exercises" %}:
<div class="ne_ui_subcontent_list">
<div>
	{% for e in exercises %}
<div class="ne_ui_content_item {% cycle "col1" "col2" "col3"%}">
<div class="ne_ui_button">
	<div class="header-title">
    	<a href="{{ e.alias }}/">{% t9n e "name"%}</a>
    </div> <!-- header-title -->
</div> <!-- ne_ui_button -->
    
<div class="ne_ui_content_item_data">
    <div class="ne_ui_desc">
        <span class="hide">{% trans "description" %}</span><span>{% t9n e "description"%}</span><br/>
        <span class="hide">{% trans "created date" %}</span> <span>{{e.created_date}}</span><br/>
        <span>{% trans "bonus points" %}</span> - <span>{{e.bonus_points}}</span><br/>
        <span>{% trans "number of questions" %}</span> - <span>{{e.questions.all|length}}</span><br/>
    </div>
    <div id="footer-container">
        <div class="footer-icons">
            <a href="{{ e.alias }}/edit/"><img src="/media/img/icon_changelink.gif" title="{% trans "edit" %}"></img></a>
            <span onclick="confirm_delete('./{{e.alias}}/remove/', '{%trans "do you really want to delete this item?"%}')">
                <img src="/media/img/icon_deletelink.gif" title="{% trans "delete" %}"></img>
            </span>
            <a href="{{ e.alias }}/translate/"><img src="/media/img/icon_translate.png" title="{% trans "translate" %}"></img></a>
            <a href="#">{%for at in e.get_available_translation_languages %} {{at.code}} {%endfor%}</a>
        </div> <!-- footer-icons -->
    </div>  <!-- footer-container -->
<div class="ne_more"><a href="{{ l.alias }}/">{% trans "More" %}</a></div>
  </div>
<div> <!-- ne_ui_content_item_data -->
</div><!-- .ne_ui_content_item_data -->
</div><!-- .ne_ui_content_item -->
    {% endfor %}
</div>
</div><!-- .ne_ui_subcontent_list -->
{% endblock %}
