{% extends "base-moderator.html" %}
{% load i18n %}

{% block js %}
<script src="/media/js/open-university-moderators.js"></script>
<script type="text/javascript">
function isAnswerButtonInvisible()
{
	return $("#add_answer_button").css("display") == "none";
}
	
$(document).ready(function()
{
	text_id = "{{text_answer_id}}";
	single_id = "{{single_choice_answer_id}}";
	multi_id = "{{multi_choice_answer_id}}";
	
	if($("#id_answer_type").val()=="{{text_answer_id}}")
	{
		if(!isAnswerButtonInvisible()) $("#add_answer_button").toggle();
	}
	
	$("#id_answer_type").change(function()
	{
		validateAnswerTypes($(this).val(), false);
	});
	
	$("form").submit(function()
	{
		if(!validateAnswerTypes($("#id_answer_type").val(), true))
		{
			return false;
		}
	});
	
	function validateAnswerTypes(value, submitValidation)
	{
		
		var validation_ok = true;
		
		checked_num = 0; // checked_correct

		// answers that aren't going to be deleted
		not_deleted_num = parseInt($("#id_answer_set-TOTAL_FORMS").val()) 

		for(i=0; i<parseInt($("#id_answer_set-TOTAL_FORMS").val()); i++)
		{
		
			if($("#id_answer_set-"+i+"-is_correct").attr("checked"))
			{
			    checked_num ++;
			}
			if($("#id_answer_set-"+i+"-DELETE").attr("checked"))
			{
			    not_deleted_num --;
			}
		}
		
		if(value == text_id )
		{
			if(!isAnswerButtonInvisible()) $("#add_answer_button").toggle()
			if(1 != not_deleted_num)
			{
				validation_ok = false;
				if(confirm("number of answers for text typed questions must exactly be one\n"+
				"all the answer except first answer will be deleted do you accept?"))
				{
					var first_formset = true;
					$(".form_form_set").each(function()
					{
						if(first_formset)
						{
							first_formset = false;
						} else
						{
							$(this).toggle();
						}
					});
					
					for(i=1; i<parseInt($("#id_answer_set-TOTAL_FORMS").val()); i++)
					{
						$("#id_answer_set-"+i+"-DELETE").attr("checked", "checked");
					}
				} else 
				{
					$("#id_answer_type").val("");
				}
			}
		} else if(value == single_id || value == multi_id )
		{
			$(".form_form_set").css("display","inline");
			
			if(!submitValidation)
				for(i=1; i<parseInt($("#id_answer_set-TOTAL_FORMS").val()); i++)
				{
					$("#id_answer_set-"+i+"-DELETE").attr("checked", "");
				}
			
			if(isAnswerButtonInvisible()) $("#add_answer_button").toggle()
			if( value == single_id && checked_num != 1)
			{
			    alert("number of correct answers for single choice questions must exactly be one");
				validation_ok = false

			} else if( value == multi_id && checked_num < 2)
			{
			    alert("number of correct answers for multi choice questions must be more than one");
				validation_ok = false
			}
		}
		return validation_ok;	
	}
});
</script>
{% endblock %}

{% block title %}
Open University - {% trans submit|upper %}
{% endblock %}

{% block content %}
<div id="create_topic_container">
	<form method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		<ul>
		<input type="hidden" name="id" value="{{form.instance.id}}"/>
		{{form.as_ul}}
		</ul>
	<div class="questions-for-this-exercise">{% trans "Answers for this question" %}:</div>
	<div id="add-exercise">
	<a href="" id="add_answer_button" onclick="addFormFormSet('formset_cnt', 'answer_set'); return false;">{% trans "add another answer" %}</a>  
	</div> <!-- End #add-exercise -->  

		{{form.formset.management_form}}
		<div id="formset_cnt" class="formset_container">
		{% for sform in form.formset %}
			<div class="form_form_set">
			{%for hidden in sform.hidden_fields%}
			{{hidden}}
			{% endfor%}
				<ul>
			{{ sform.as_ul }}
				</ul>
			</div>
		{% endfor %}
		</div>
		
    {% if form.video_nested %}
<div class="questions-for-this-exercise">{% trans "Videos for this question" %}:</div>
<div id="add-exercise">
<a href="" style="display:block" onclick="addFormFormSet('video_formset_cnt', 'video_set'); return false;">
<span>{% trans "add another video" %}</span>
</a>   
</div><!-- End #add-exercise -->  
        {{ form.video_nested.management_form }}
<div id="video_formset_cnt">
        {% for vform in form.video_nested %}
<div class="form_form_set">
            {% for hidden in vform.hidden_fields %}
                {{ hidden }}
            {% endfor %}
<ul>
            {{ vform.as_ul }}
</ul>
</div><!-- .form_form_set -->   
        {% endfor%}
</div><!-- video_formset_cnt -->
    {% endif %}
	
		<div style="width:100%;display:block;float:right">
			<input type="submit" value="{{submit}}" />
		</div>
	</form>
</div>
{% endblock %}