{% extends "base-moderator.html" %}
{% load translate %}
{% load i18n %}

{% block title %}
Open University - {% trans "Question List" %}
{% endblock %}

{% block grey_wrapper %}
{% trans "Question list" %}
{% endblock %}

{% block content %}
	<a class="form_menu" href="./add/"><img src="/media/img/icon_addlink.gif" title="{% trans "Add question" %}"></img></a>
    <table>
        <thead>
            <tr>
                <th>{% trans "Question" %}</th>
                <th>{% trans "Answer Type"%}</th>
                <th>{% trans "Functions" %}</th>
                <th>{% trans "available translations" %}</th>
                <th>{% trans "Number of answers" %}</th>
            </tr>
            {% for q in questions %}
            <tr>
                <td><a href="../{{q.id}}/">{% t9n q "question" %}</a></td>
                <td>{{ q.answer_type }}</td>
                <td>
                    <a href="../{{q.id}}/edit/"><img src="/media/img/icon_changelink.gif" title="{% trans "Edit" %}"></img></a>
                    <a href="../{{q.id}}/remove/"><img src="/media/img/icon_deletelink.gif" title="{% trans "Delete" %}"></img></a>
                    <a href="../{{q.id}}/translate"><img src="/media/img/icon_translate.png" title="{% trans "Translate" %}"></img></a>
                </td>
                <td>{%for at in q.get_available_translation_languages %} {{at.code}} {%endfor%}</td>
                <td{% ifequal q.answer_set.all|length 0 %} style="background-color:red"{% endifequal %}>{{q.answer_set.all|length}}</td>
            </tr>
            {% endfor %}
        </thead>
    </table>

{% endblock %}