{% extends "base-moderator.html" %}
{% load i18n %}
{% load translate %}
{% load pagination_tags %}

{% block title %}
Open University - {% trans "Question" %} - {% t9n c "name" %}
{% endblock %}

{% block content %}
<div class="ne_ui_fields">
<div>{% trans "question" %} - {% t9n c "question" %}</div>
<div>{% trans "hint" %} - {% t9n c "hint"%}</div>
<div>{% trans "Answer type"%} - {{ c.answer_type }}</div>
<div>{% trans "created date" %} - {{ c.created_date }}</div>
<div><span>{% trans "is required" %}</span> - <span>{{ c.is_required }}</span></div>
<div><span>{% trans "votes" %}</span> - <span>{{ c.votes }}</span></div>
<div><span>{% trans "points" %}</span> - <span>{{ c.points }}</span></div>
<div><span>{% trans "submitted by" %}</span> - <span>{{ c.submitted_by }}</span></div>
<div><span>{% trans "is published" %}</span> - <span>{{ c.is_published }}</span></div>
</div><!-- .ne_ui_fields -->

<a href="./edit/"><img src="/media/img/icon_changelink.gif" title="{% trans "edit" %}"></img></a>
	{% trans "answers" %}:

{% endblock%}