{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% trans "Feedback" %}
{% endblock %}

{% block grey_wrapper %}
{% trans "Feedback" %}
{% endblock %}

{% block js %}
{% endblock %}
{% block css %}
{% endblock %}

{% block content %}
<div id="login-container">
	<form action="" method="POST">
            <table>
               {{ form.as_p }}
	       <input type="submit" class="submit" value="{% trans 'Submit' %}" />
            </table>
	</form>
</div>
{% endblock %}

